* {
    margin: 0;
    padding: 0;
}

html
{
    z-index: -1;
}

body {
    background-color: rgb(180, 231, 157);
    z-index: -1;
}

header {
    position: absolute;
    width: 100%;
}

.ondas {
    width: 100%;
    max-height: 30em;
}

    .logo {
        width: 25%;
        height: auto;
        position: absolute;
        left: 5%;
        top: 5%;
    }

    nav{
        max-width: 40%;
    }

@media screen and (min-width: 600px) {
    body {
        background-color: blueviolet;
    }
    #sobre,#login,#cadastro,#contato {
        color: white;
        float: center;
        font-size: 120%;
        /* font-size: 80%(width: ;; */
        font-family: Aharoni, 'Aharoni', Calibri, 'Trebuchet MS', sans-serif;
        visibility: initial;
        margin-left: 1em;
        cursor: pointer;
    }
    #navHeader
    {
        color: white;
        position: relative;
        top: 17em;
        right: -30%;
        width: 55%;
        visibility: visible;
        /* font-size: 80%(width: ;; */
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .container {
        visibility: hidden;
      }
}

@media screen and (min-width: 800px) {
    body {
        background-color: palevioletred;
    }
    
    #botoes {
        /* position: relative; */
        /* top: -18em; */
    }
    .container {
        visibility: hidden;
      }
      #sobre,#login,#cadastro,#contato {
        color: white;
        float: center;
        font-size: 150%;
        /* font-size: 80%(width: ;; */
        font-family: Aharoni, 'Aharoni', Calibri, 'Trebuchet MS', sans-serif;
        visibility: initial;
    }
    #navHeader
    {
        color: white;
        position: relative;
        top: 20em;
        right: -30%;
        width: 55%;
        visibility: visible;
        /* font-size: 80%(width: ;; */
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

      
}

/*#menu
{
    position: absolute;
    left: 17em;
    top: 7em;
    color: white;
    font-family: Courier New, Courier, monospace;
    font-size: 200%;
    width: 400em;
}*/



#botoes {
    position: absolute;
    bottom: 30.5em;
    left: 10%;
    /* z-index: 50; */
}

.cadastro {
    width: 58%;
    position: relative;
    bottom: 0.1em;
    margin-left: -0.5em;
}

.login {
    width: 40%;

}
#sobre,#login,#cadastro,#contato {
    /* visibility: hidden; */
    color: white;
    float: center;
    /* font-size: 80%(width: ;; */
    position: relative;
    top: -30em;
    font-family: Aharoni, 'Aharoni', Calibri, 'Trebuchet MS', sans-serif;
}

.frase {
    width: 10em;
    height: auto;
}

.btnMenu_open {
    background-image: url("./Imagens/menu3.png");
    height: 2em;
    position: relative;
    left: 60%;
}

.btnMenu_close {
    background-color: white;
    background-image: url("./Imagens/menupt.png");
}

.btnMenu {
    display: block;
    background-repeat: no-repeat;
    background-position: 15px center;
    text-indent: -9999px;
    padding: 20px 15px;
}

.menu-item-action {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}

.menu-item {
    padding: 20px 15px;
    border-bottom: 1px solid rgba(116, 124, 129, 0.8);
}

.menu {
    position: relative;
    width: 100%;
    top: 0;
    left: -5000;
}
.container {
    display: inline-block;
    cursor: pointer;
    position: relative;
    /* margin-right: 10%; */
    top: 8;
    left: 2em;
    margin-top: 15;
    z-index: 9;
    
  }
  .containeropen {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    /* margin-right: 10%; */
    top: 0;
    left: 85%;
    margin-top: 10;
    z-index: 1;
    
  }
  

  .bar1open, .bar2open, .bar3open {
    width: 23px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
  }
  
  .bar1 {
    width: 23px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
    transition: 0.4s;
    -webkit-transform: rotate(-45deg) translate(-9px, 20px);
    transform: rotate(-45deg) translate(-7px, -2px);
  }
  
  .bar2 {opacity: 0;}
  
  .bar3 {
    width: 23px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
    transition: 0.4s;
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-9px, 2px);
  }



   #sobremin, #loginmin,#contmin
   {
    
    font-family: "Century Gothic";
    font-weight: 500;
    font-size: 17px;
    color: #757575;
   }
   #cadmin
   {
    font-family: "Century Gothic";
    font-weight: 500;
    font-size: 17px;
    color: #757575;
   }

  .balon
  {
    background: url("./Imagens/logopretomin.png");
    position: relative;
    bottom: 20;
    left: 38%;
    width: 4em;
    height: 2.3em;
  }

  /*.escuro
  {
      width: 100%;
      height: 100%;
      background: black;
      position: absolute;
      opacity: 0.5;
      z-index: -1;
  }
  */
  #menuzinho
  {
      position: absolute;
      top: 0;
      left: -100%;
      height: 500%;
      background: white;
      z-index: 100;
      border-radius: 5px;
      opacity: 1;
  }

  .hrUm
  {
      width: 12em;
      height: 0.11em;
      border-top: 1px solid #E6E6E6;
      position: relative;
      bottom: 1em;
      margin-left: 0.5em;
  }
  .hrDois
  {
      width: 12em;
      height: 0.1em;
      border-top: 1px solid #f5f5f5;
      position: relative;
      bottom: 1em;
      margin-left: 0.5em;
  }  
  
