body
{
    background-color: #501;
}

.logo
{
    background: url(./Imagens/LOGO/logo3-min.png);
    width: 30em;
    height: 15em;
}

#menu
{
    position: relative;
    left: 500em;
    top: 0em;
}

.nav
{
    background: #000000;
    height: 15em;
}