html{
        height: 100%;
    }

body
{
    background-color:rgb(99, 12, 31);
    text-align:left;
    margin:auto;
    padding:0;
    height:100%;
    width: 100%;
    min-width:600px;
    max-width:2000px

}
* {
    
        list-style:none; 
    
        padding:0px;
    
        margin:0px;
    
    }
    
    #all{
    
        height:100%;
    
        width:100%;
    
        margin:auto;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
    }

.logo
{
  /*  background: url(./Imagens/LOGO/logoofc.png);    
    width: 22em;
    height: 25em; */
    width: 25%;
}
/*
@media screen and (min-width: 400px) {
    .nav{
        float: none;
        width: 50%;
    }
}

@media screen and (min-width: 800px) {
    body{
        
    }
}*/

/*#menu
{
    position: absolute;
    left: 17em;
    top: 7em;
    color: white;
    font-family: Courier New, Courier, monospace;
    font-size: 200%;
    width: 400em;
}*/

.nav
{
    background: #000000;
    height: 25em;
    width: 100%;
    left: 0em;
    position: relative;
    top:0em;
}

#sobre,#login,#cadastro,#contato
{
    color: white;
}

#home{
height: 1em;
width: 2em;
font-size: 250%;
font-weight: 600;
}

