* {
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;
    font-size: 106%;
    transition: all .3s ease;
}

html {
    height: 100%;
    overflow-x:hidden;
}
/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(#0018a5,#13e0ae);
    border-radius: 10px;
}

body {
    background-color: white;
    text-align: left;
    margin: auto;
    padding: 0;
    height: 100%;
    width: 100%;
    min-width: 600px;
    max-width: 2000px;
    background-image: url(../Imagens/fundoSobre.png);
}

.menu div {
    color: #fff;
    text-decoration: none;
    padding: 20px;
    display: block;
    line-height: 15px;
}

.show-menu-btn,
.hide-menu-btn {
    color: white;
    position: absolute;
    top: 2%;
    left: 85%;
    cursor: pointer;
}

.ab:active {
    background: lightseagreen;
}

.hide-menu-btn i {
    color: lightseagreen;
}


#chk {
    position: absolute;
    top: 2%;
    left: 85%;
    visibility: hidden;
    z-index: -1111;
    width: 1.2em;
    height: 1.2em;
}
.hide-menu-btn {
    position: absolute;
    top: 40px;
    right: 40px;
}

#chk:checked ~ .menu {
    right: 0em;
}

.menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #333;
    right: 1000px;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: unset;
    z-index: 10;
    height:230%;
}


header {
    width: 100%;
}

.ab
{
    cursor:pointer;
}

.ondas {
    width: 100%;
    position:relative;
    top:-5em;
    height: 20em;
}

.logo {
    width: 40%;
    height: auto;
    position: absolute;
    left: 5%;
    top: 5%;
}
@media screen and (min-width: 600px) {
    .show-menu-btn, .hide-menu-btn {
        display: none;
    }

    .menu {
        background: none;
        line-height: 100px;
        position: absolute;
        top: -70px;
        left: 16%;
        height:5em;
        transition: unset;
    }

    .ondas {
        width: 110%;
    }

    .menu div {
        color: #fff;
        text-decoration: none;
        padding: 0 10px;
        display: inline;
        font-family: Aharoni, 'Aharoni', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        font-weight: 600;
    }
    .logo {
        width: 30%;
    }
    #btnCadastrar{
        position:relative;
        left:0%;
    }
}

@media screen and (min-width: 400px) {
    nav {
        float: right, top;
        width: 50%;
        /* position: absolute; */
        /* top: 0em; */
        /* left: 50%; */
        font-size: 20px;
    }
}

@media screen and (min-width: 800px) {
    body {
    }

    nav {
        float: top;
        width: 50%;
        /* position: absolute; */
        /* top: 0em; */
        /* left: 50%; */
        visibility: hidden;
        font-size: 20px;
    }
    .menu div {
        font-family: Aharoni, 'Aharoni', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 22px;
        padding: 0.6em;
    }
    .logo {
        width: 28%;
    }
}
@media screen and (min-width: 1000px) {
        .menu {
            left: 22%;
        }

        .menu div {
            font-family: Aharoni, 'Aharoni', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 25px;
        }
        .logo{
            width:28%;
        }
}

@media screen and (min-width: 1300px) {
  
    .logo {
        width: 20%;
    }
}
@media screen and (min-width: 1200px) {

    .container {
        top: 3em;
        position: relative;
        left: calc(2%)
    }
    #btnCadastrar{
        width:800px;
    }
}


#navHeader {
    position: relative;
    top: -22em;
    right: -40%;
    width: 55%;
    visibility: visible;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#sobre, #login, #contato, #home, #principal, .cTemCadastro, #perfil {
    color: white;
}


#alertNome,#alertNome2 {
    position: relative;
    top: -0.8em;
    left: 8.5em;
    height: 20%;
    width: 60%;
    z-index: 100;
    display: none;
    transition: display 50s;
}
#alertEmail,#alertEmail2 {
    position: relative;
    top: -0.9em;
    left: 7.5em;
    height: 62%;
    width: 62%;
    z-index: 100;
    display:none;
    transition:display 50s;
}
#alertData {
    position: relative;
    top: -0.9em;
    left: 7em;
    height: 66%;
    width: 66%;
    z-index: 100;
    display: none;
    transition: display 50s;
}
#alertSenha {
    position: relative;
    top: -0.9em;
    left: 9em;
    height: 55%;
    width: 55%;
    z-index: 100;
    display: none;
    transition: display 50s;
}
#alertVer {
    position: relative;
    top: -0.9em;
    left: 9em;
    height: 53%;
    width: 53%;
    z-index: 100;
    display: none;
    transition: display 50s;
}

#login{
    position:relative;
    top :-7em;
    left:18%;
}
#log{
    font-size :25px;
    font-family:'Century Gothic';
    color:white;
}
    #log:hover {
        color: #c9a5ff;
    }

.container {
    top: 3em;
    position: relative;
}
#btnCadastrar {
    position: relative;
    top: -6em;
    width:400px;
    left:-10%;
    font-family:'Century Gothic';
    font-size:22px;
    font-weight:500;
}

footer {
    background-color: #0B2161;
    text-align: center;
    height: 35%;
    width: 100%;
    position: relative;
    top: 124%;
}

.login {
    font-size: 40px;
    position: absolute;
    left: 200px;
}

.loginInput {
    font-size: 24px;
    position: absolute;
    left: 700px;
}

.cTemCadastro {
    font-size: 30px;
    position: absolute;
    left: 300px;
    font-style: italic;
    top: 86%;
}

#btnPerfil {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

#sobreV, #loginNavV, #contatoV, #homeV, #principalV, #configV {
    color: black;
    position: relative;
    left: 170%;
}

#menuV {
    position: relative;
    right: 50%;
    width: 55%;
    visibility: visible;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#divMenuV {
    background-color: white;
    width: 380%;
    border-radius: 3%;
    position: relative;
    top: -2em;
    left: 100%;
}

.fot1 {
    font-size: 30px;
    color: white;
    position: relative;
    top: 32%;
    margin-top: 1em;
    left: -30%;
}

.fot2 {
    font-size: 30px;
    color: white;
    position: relative;
    top: -22%;
    margin-top: 1em;
    left: 10px;
}

#cbNoti {
    width: 20%;
    height: 4%;
    position: absolute;
    top: 68%;
    font-size: 24px;
    left: 700px;
}
#myFooter {
    background-color: #3c3d41;
    color: white;
    font-size: 106%;
}

    #myFooter .footer-copyright {
        background-color: #333333;
        padding-top: 3px;
        padding-bottom: 3px;
        text-align: center;
    }

    #myFooter .row {
        margin-bottom: 60px;
    }

    #myFooter .navbar-brand {
        margin-top: 45px;
        height: 65px;
    }

    #myFooter .footer-copyright p {
        margin: 10px;
        color: #ccc;
        font-size: 16px;
    }

    #myFooter ul {
        list-style-type: none;
        padding-left: 0;
    }

    #myFooter h5 {
        font-size: 18px;
        color: white;
        font-weight: bold;
    }

    #myFooter h2 a {
        font-size: 50px;
        text-align: center;
        color: #fff;
    }

    #myFooter a {
        color: #d2d1d1;
        text-decoration: none;
    }

        #myFooter a:hover,
        #myFooter a:focus {
            text-decoration: none;
            color: white;
        }

    #myFooter .social-networks {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 16px;
    }

        #myFooter .social-networks a {
            font-size: 32px;
            color: #f9f9f9;
            padding: 10px;
            transition: 0.2s;
        }

            #myFooter .social-networks a:hover {
                text-decoration: none;
            }

    #myFooter .facebook:hover {
        color: #0077e2;
    }

    #myFooter .google:hover {
        color: #ef1a1a;
    }

    #myFooter .twitter:hover {
        color: #00aced;
    }

    #myFooter .btn {
        color: white;
        background-color: #d84b6b;
        border-radius: 20px;
        border: none;
        width: 150px;
        display: block;
        margin: 0 auto;
        margin-top: 10px;
        line-height: 25px;
        position:relative;
        top:-0.5em;
    }

.logo2 {
    width: 350%;
}



@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
        height: 50%;
    }

    .col-sm-3 {
        padding-left: 100px;
    }
}

@media screen and (max-width: 576px) {
    #myFooter {
        text-align: center;
        height: 70%;
    }

    .col-sm-3 {
        padding-left: 0%;
    }

    #logo2 {
        width: 100%;
    }
}

#myFooter {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    position: relative;
    top: 10em;
}

* {
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;
    transition: all .3s ease;
}

