html {
    height: 100%;
}

body {
    background-color: white;
    text-align: left;
    margin: auto;
    padding: 0;
    height: 100%;
    width: 100%;
    min-width: 600px;
    max-width: 2000px;
    background-image: url(../Imagens/fundoSobre.png);
}

header {
    width: 100%;
}

.ondas {
    width: 100%;
    height: 30em;
}

.logo {
    width: 25%;
    height: auto;
    position: absolute;
    left: 5%;
    top: 5%;
}


@media screen and (min-width: 400px) {
    nav {
        float: right;/*, top;*/
        width: 50%;
        /* position: absolute; */
        /* top: 0em; */
        /* left: 50%; */
        font-size: 20px;
    }
}

@media screen and (min-width: 800px) {
    nav {
        float: top;
        width: 50%;
         left: 50%; 
        visibility: hidden;
        font-size: 20px;
    }
}

#configV, #sairV, #lblPontuacao, #ImgCoracao {
    color: black;
    position: relative;
    left: -2em;
}


#lblPontuacao {
    margin-left: 2em;
    font-size: 30px;
    top: 4px;
}

#ImgCoracao {
    width: 20%;
    position: absolute;
    left: -30px;
    top: 10px;
    margin-left: 1em;
}

#iconeConfig 
{
    position: absolute;
    width: 800%;
    top: 20%;
    left: -2em;
}

#myFooter {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    position: relative;
    top: 57em;
}


#opcoesFotos {
    border-radius: 50%;
    background-color: white;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 8%;
    left: 80%;
}

#btnPerfil {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

#menuV {
    position: relative;
    width: 100%;
    visibility: visible;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    left: 20%;
    height: 100%;
}

#divMenuV {
    background-color: wheat;
    width: 380%;
    border-radius: 3%;
    position: absolute;
    top: 3em;
    left: 80%;
    height: 340%;
}

#navHeader {
    position: relative;
    top: -18em;
    left: -1%;
    right: -40%;
    width: 55%;
    visibility: visible;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#sobre, #contato, #home, #perfil {
    color: white;
}

#sectionLeft {
    background-color: #FEA47F;
    box-shadow: 10px 10px 5px grey;
    height: 102%;
    width: 25%;
    float: left;
    position: absolute;
    top: 70%;
    overflow: scroll;
    scrollbar-base-color: bisque;
}

#sectionRight {
    background-color: #FEA47F;
    box-shadow: 10px 10px 5px grey;
    height: 102%;
    width: 25%;
    position: absolute;
    top: 70%;
    left: 73%;
}

#sectionPrincipal {
    background-color: #FEA47F;
    box-shadow: 10px 10px 5px grey;
    height: 102%;
    width: 40%;
    left: 29%;
    top: 70%;
    position: absolute;
    overflow: scroll;
    scrollbar-base-color: bisque;
}

.cNoticia {
    background-color: #00FFFF;
    box-shadow: 10px 10px 5px grey;
    width: 90%;
    height: 25%;
    border-radius: 8%;
    left: 4%;
    position: relative;
    margin-top: 2em;
}

.cTitulo {
    position: absolute;
    top: 20px;
    height: 21%;
    width: 100%;
    background-color: #00FF00;
    border-radius: 3%;
    height: 30%;
}

.cLink {
    position: absolute;
    top: 100px;
    height: 45%;
    width: 80%;
    border-radius: 3%;
}


.localizacao {
    font-size: 20px;
    color: black;
    height: 19%;
    width: 100%;
    background-color: green;
}

.descricao {
    font-size: 20px;
    color: black;
    position: relative;
    top: 20%;
    height: 70%;
    width: 100%;
}

#parabens {
    background-color: #b1f1f4;
    width: 40%;
    height: 30%;
    border-color: #361bc4;
    border-style: dotted;
     box-shadow: 10px 10px 5px grey;
    left: 450px;
    top: 600px;
    position: absolute;
    border-radius: 10%;
    display: none;
}

.chkSonhos {
    font-size: 20px;
    margin-left: 1em;
    position: relative;
    top: -1em;
    left: 15px;
}

.inputSonhos {
    left: 2%;
    top: 30%;
    position: relative;
}

.divSonho {
    background-color: #f6e58d;
    width: 90%;
    position: relative;
    left: 1em;
    max-height: 20%;
}

.eventoSemana {
    background-color: #f6e58d;
    color: black;
    height: 18%;
    width: 80%;
    position: relative;
    margin-top: 1em;
    border-radius: 3%;
    left: 8%;
    margin-top: 2em;
    box-shadow: 20px 20px 10px grey;
}

#eventos {
    background-color: #FEA47F;
    box-shadow: 10px 10px 5px grey;
    height: 60%;
    width: 100%;
    float: right;
}

.data {
    background-color: rgb(54, 49, 49);
    color: white;
    height: 18%;
    width: 100%;
}

#btnAgenda {
    position: absolute;
    left: 1%;
    top: 64%;
    height: 5%;
    width: 10%;
    background-color: white;
    border-color: rgb(87, 36, 36);
    border-radius: 60%;
}

#secAgenda {
    background-color: white;
    width: 40%;
    height: 80%;
    left: 30%;
    top: 10%;
    position: absolute;
    display: none;
    font-size: 28px;
}

.dias { 
    color: greenyellow;
    background-color: black;
    font-size: 38px;
}

#calendario {
    width: 100%;
    height: 100%;
}

#adicionarEvento {
    background-color: antiquewhite;
    color: black;
    height: 32%;
    width: 28%;
    position: relative;
    margin-top: 1em;
    border-radius: 10%;
    font-family: 'Times New Roman', Times, serif;
    left: 30%;
    top: 20%;
    z-index: 2;
    text-align: left;
}

#divExcluirEvento {
    background-color: antiquewhite;
    color: black;
    height: 12%;
    width: 28%;
    position: relative;
    margin-top: 1em;
    border-radius: 10%;
    font-family: 'Times New Roman', Times, serif;
    left: 30%;
    top: 20%;
    z-index: 2;
    text-align: left;
}

#descricaoEvento, #diaEvento, #localizacaoEvento {
    position: relative;
    margin-left: 14%;
    margin-top: 1em;
}

.lbl
{
    position: relative;
    margin-left: 1em;
    margin-top: 1em;
}

.semana{
    color: green;
    position: relative;
    left: 1em;
    font-size: 48px;
    font-family: 'Times New Roman', Times, serif;
}

.btnMais
{
    position: relative;
    left: 9em;
    width: 10%;
    height: 5%;
    z-index: 1;
    background-color: transparent;
}

#icones 
{
    position: relative;
    left: 90%;
    top: 6px;
    width: 10%;
    height: 5%;
    z-index: 1;
}

#iconeExcluirEvento {
    position: relative;
    top: -5em;
    left: 90%;
    width: 10%;
    height: 3%;
    z-index: 1;
}

#btnAdicionarEvento {
    position: absolute;
    left: 80%;
    top: 73%;
    width: 10%;
    height: 20%;
    border-radius: 50%;
}

btnExcluirEvento {
    position: absolute;
    left: 45%;
    top: 73%;
    width: 10%;
    height: 20%;
    border-radius: 50%;
}

#adicionarSonho {
    background-color: antiquewhite;
    color: black;
    height: 32%;
    width: 28%;
    position: relative;
    margin-top: 1em;
    border-radius: 10%;
    font-family: 'Times New Roman', Times, serif;
    left: 30%;
    top: 20%;
    z-index: 2;
    text-align: left;
}

#descricaoSonho {
    position: absolute;
    left: 24%;
    top: 50%;
    margin: 1em;
}