
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <title>I9</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="~/Content/HomeCSS.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="http://code.jquery.com/jquery-3.3.1.js"></script>
    <script>
        window.onload = function () {
            Organiza();
        }

        function Organiza() {
            if (window.innerWidth >= 800) {
                var fundo = document.getElementById("ondas");
                fundo.src = 'Imagens/ondas2.png';
            }
            else {
                var fundo = document.getElementById("ondas");
                fundo.src = 'Imagens/ondas.png';
                var botao = document.getElementById("comece");
                botao.style.width = "35%";
                botao.style.top = "7em";

                if (window.innerWidth >= 600) {
                    // var trocarImg = "<img class='coisinhas2' src='./Imagens/coisinhas2.png'>";
                    var coisa = document.getElementById("coisa2");
                    coisa.src = 'Imagens/coisinhas2.png';
                    coisa.style.top = "11.5em";
                    coisa.style.width = "95%";
                    coisa.style.left = "3%";
                    var frase = document.getElementById("frase");
                    frase.style.top = "6em";
                    frase.style.left = "10%";
                    var botao = document.getElementById("comece");
                    botao.style.left = "65%";
                    // var cabecalho = document.getElementById("header");
                    //cabecalho.style.width = "80%";
                }
                else {
                    var coisa = document.getElementById("coisa2");
                    coisa.src = 'Imagens/coisinhas.png';
                    coisa.style.top = "7.5em";
                    coisa.style.width = "77%";
                    coisa.style.left = "12%";
                    var frase = document.getElementById("frase");
                    frase.style.top = "3em";
                    frase.style.left = "20%";
                    var botao = document.getElementById("comece");
                    botao.style.left = "30%";
                }
            }
        }


        window.onresize = function () {
            Organiza();
        }
    </script>
</head>

<body>
    <div class="header" id="header">
        <img class="ondas" id="ondas" src="./Imagens/ondas.png">
        <img src="./Imagens/LOGO/logoofc.png" class="logo">
        <!-- <img class="barra" src="./Imagens/nav.png"> -->
        <input type="checkbox" id="chk">
        <label for="chk" class="show-menu-btn">
            <i class="fa fa-bars fa-w-14 fa-2x"></i>
        </label>
        <ul class="menu">
            @*<a class="ab" href="#">LOGIN</a>
            <a class="ab" href="#">CADASTRE-SE</a>
            <a class="ab" href="#">SOBRE</a>
            <a class="ab" href="#">CONTATO</a>
            <label for="chk" class="hide-menu-btn">
                <a class="menu-barra">
                    <i class="fa fa-times fa-w-14 fa-2x"></i>
                </a>
            </label>*@
        </ul>
    </div>
    <div class="content">
        <center></center>
    </div>
    <!--<ul id="slide-out" class="sidenav" >
        <div class="wrap-menu">
          <div class="container" onclick="myFunction(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </div>
          <div  class="balon"></div>
          <div class="hrUm"></div>
              <li><a  id = "cadmin" href="Cadastro.html" >CADASTRE-SE</a></li><div class="hrDois"></div>
              <li><a  id = "loginmin" href="Login.html" >LOGIN</a>  </li><div class="hrDois"></div>
              <li><a  id = "sobremin" href="Sobre.html" >SOBRE</a></li><div class="hrDois"></div>
              <li><a  id = "contmin" href="Contato.html" >CONTATO</a></li>


            </div>
          </ul>-->
    <!--
          <ul id="slide-out" class="sidenav">
              <li><div class="user-view">
                <div class="background">
                  <img src="images/office.jpg">
                </div>
                <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
                <a href="#name"><span class="white-text name">John Doe</span></a>
                <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
              </div></li>
              <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
              <li><a href="#!">Second Link</a></li>
              <li><div class="divider"></div></li>
              <li><a class="subheader">Subheader</a></li>
              <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
            </ul>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>


      -->
    <section class="home-hero">
        <div>
            <img class="frase" src="./Imagens/frase1.png" id="frase">
        </div>
        <img class="btnComece" src="./Imagens/ComeceJa.png" id="comece">
        <div>
            <img class='coisinhas' id="coisa2">
        </div>
    </section>

</body>

</html>
