
@{
    Layout = null;
}

<html>
<head>
    <title>Cadastro</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="~/Content/CadastroCSS.css" rel="stylesheet" type="text/css">

    <script type="text/javascript">

        window.onload = function()
        {
            document.getElementById("opcoesFotos").innerHTML = " <input id=\"btnPerfil\" type=\"image\" src=\"~/Imagens/imgPerfil.jpg\" onclick=\"CarregarPerfil()\">";
            document.getElementById("username").focus();
            CarregarDadosBD();
        }

        function CarregarDadosBD()
        {
            for (var usu in ViewBag.UsuarioI9)
            {
                if (document.getElementById("email").value == usu.email)
                    alert("Esse e-mail já foi cadastrado. Tente fazer login caso já tenha um cadastro, ou crie uma nova conta usando outro endereço de e-mail.");
            }

            //Criar novo cadastro

        }

        function SenhasIguais() {
            var ok = false;

            if (document.getElementById("password").value == document.getElementById("password2").value)
                ok = true;
            else
                alert("As senhas dadas não são iguais!");

                return ok;
        }

        var seMostraPerfil = 2;
        function CarregarPerfil()
        {
            if(seMostraPerfil % 2 == 0)
            {
                document.getElementById("opcoesFotos").innerHTML = "<input id='btnPerfil' type='image' src='~/Imagens/imgPerfil.jpg' onclick='CarregarPerfil()'><div id='divMenuV'><nav id ='menuV'><ul>" +
                                                                "<br><br><a id ='homeV' href='~/Home/Index'>HOME</a><br><br>" +
                                                                "<a id ='principalV' href='~/Principal/Index'>PRINCIPAL</a><br><br>" +
                                                                "<a id ='sobreV' href='~/Sobre/Index'>SOBRE</a><br><br>" +
                                                                "<a id ='loginNavV' href='~/Login/Index'>LOGIN</a><br><br>" +
                                                                "<a id ='contatoV' href='~/Contato/Index'>CONTATO</a><br><br>" +
                                                                "<a id ='configV' href='~/Perfil/Index'>PERFIL</a><br><br><br></ul><nav></div>";
                seMostraPerfil++;
            }
            else
            {
                document.getElementById("opcoesFotos").innerHTML = "<input id=\"btnPerfil\" type=\"image\" src=\"~/Imagens/imgPerfil.jpg\" onclick=\"CarregarPerfil()\">";
                seMostraPerfil++;
            }
        }

    </script>
</head>
<body>
    <header>
        <a href="#" class="brand-logo">
            <img class="ondas" src="~/Imagens/ondas.png">
            <div><img class="logo" src="~/Imagens/LOGO/logoofc.png"></div>
        </a>

        <nav id="navHeader">
            <ul>
                <a id="home" href="~/Home/Index">HOME</a>
                <a id="principal" href="~/Principal/Index">PRINCIPAL</a>
                <a id="sobre" href="~/Sobre/Index">SOBRE</a>
                <a id="login" href="~/Login/Index">LOGIN</a>
                <a id="contato" href="~/Contato/Index">CONTATO</a>
                <a id="perfil" href="~/Perfil/Index">PERFIL</a>
            </ul>
        </nav>

        <div id="opcoesFotos">

        </div>

    </header>

    <section id="loginSection">
        <br><br><br><br><br><br>
        <div>
            <label class="login" for="username">Username: </label>
            <input class="loginInput" id="username" type="text" required pattern=".{6,15}" title="De 6 a 10 caracteres" name="user">
        </div><br><br><br><br>

        <div>
            <label class="login" for="email">Email: </label>
        <input class="loginInput" id="email" type="email" required name="email">
        </div><br><br><br><br>

        <div>
            <label class="login" for="name">Nome: </label>
            <input class="loginInput" id="nome" required name="nome">
        </div><br><br><br><br>

        <div>
            <label class="login" for="aniversario">Data Nascimento: </label>
            <input type="date" id="data" name="aniversario" class="datepicker, loginInput" pattern="^\d{2}/\d{2}/\d{4}$" required>
        </div><br><br><br><br>

        <div>
            <label class="login" for="password">Senha: </label>
            <input class="loginInput" id="password" type="password" required pattern=".{8,}" onblur="Tool()" name="senha">
        </div><br><br><br><br>

        <div>
            <label class="login" for="password2">Confirmar senha: </label>
            <input class="loginInput" id="password2" type="password" onblur="Tool()" onfocus="TirarTool()" required>
        </div><br><br><br><br>

        <h1 class="login">Preferência de notícias: </h1>

        <select id="cbNoti">
            <option value="politica">Política</option>
            <option value="ongs">ONGS</option>
            <option value="animais">Animais</option>
            <option value="algo">Algo</option>
        </select>

        <button id="btnCadastrar" onclick="carregar()">Cadastrar</button>
        <u><a href="~/Login/Index" class="cTemCadastro"> Já tem cadastro?! </a></u>
    </section>

    <footer>
        <h1 class="fot1">inovaAgora@gmail.com </h1>
        <h1 class="fot1">i9@hotmail.com </h1>
        <h1 class="fot2">(19)3336-5487 </h1>
        <h1 class="fot2">(19)5135-9804 </h1>
    </footer>

</body>
</html>
