
@{ 
    Layout = null;
}
<html>
<head>
    <title>Cadastro</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/CadastroCSS.css" rel="stylesheet" type="text/css">
    <link href="~/Content/animate.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.0.min.js"></script>
    <script type="text/javascript" src="~/Script/CadScript.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
        var bNome = false;
        var bEmail = false;
        var bData = false;
        var bSenha = false;
        var bVer = false;

        window.onload = function()
        {
            Carregar();
            Organiza();
        }

        window.onresize = function () {
            Organiza();
        }

        function Organiza() {
            var btn = document.getElementById("btnCadastrar");
            var fundo = document.getElementById("ondas");
            var cont = document.getElementById("cont");
            if (window.innerWidth >= 1300) {
                fundo.style.width = "100%";
                cont.style.left = "2%";
                btn.style.left = "150%";
            }
            else {
                cont.style.left = "4%";
                if (window.innerWidth >= 1200) {
                    btn.style.left = "150%";
                    btn.style.width = "222%";
                    btn.style.top = "-7em";
                }
                else {
                    if (window.innerWidth >= 800) {
                        if (window.innerWidth >= 992) {
                            btn.style.left = "106%";
                            btn.style.width = "92%";
                            btn.style.top = "-7em";
                        }
                        else {
                            fundo.style.width = "120%";
                            btn.style.top = "-7em";
                        }
                    }
                    else {
                        if (window.innerWidth >= 770) {
                            btn.style.left = "78%";
                            btn.style.width = "80%";
                            btn.style.top = "-7em";
                        }
                        else
                            if (window.innerWidth >= 576) {
                                btn.style.left = "-1%";
                                btn.style.top = "-7em";
                                btn.style.width = "67%";
                            }
                            else {
                                btn.style.left = "-10%";
                                btn.style.top = "-7em";
                                btn.style.width = "75%";
                            }
                    }
                }
            }

        }

        function Carregar() //função chamada sempre que o usuario tenta fazer cadastro
        {
            @*if (@ViewBag.Nome == null)
                document.getElementById("nome").innerHTML.value = "blz";
            else
                document.getElementById("nome").innerHTML.value = @ViewBag.Nome;*@
            //data
            //password
        }

        function Pode() {
            if (!bNome)
                document.getElementById("nome").value = "";

            if (!bEmail)
                document.getElementById("email").value = "";

            if (!bData)
                document.getElementById("data").value = "";

            if (!bSenha)
                document.getElementById("senha").value = "";

            if (!bVer)
                document.getElementById("ver").value = "";
        }

        function Data() {
            var dig = document.getElementById("data").value;
            if (isNaN(dig[dig.length - 1])) {
                document.getElementById("data").value = dig.substring(0, dig.length - 1);
            }
            else {
                if (dig.length == 2)
                    document.getElementById("data").value = dig + "/";

                if (dig.length == 5)
                    document.getElementById("data").value = dig + "/";
            }
        }

        function Nome(dig) {
            var lista = @Html.Raw(Json.Encode(ViewData["List"]));
            var val = true;
            var val2 = true;
            if (dig == "")
                val = false;
            if (dig.length < 6)
                val = false;
            for (var i = 0; i <@ViewBag.Qtos;i++) {
                var nome = JSON.stringify(lista[i].nome).split('"');
                nome=nome[1];
                if (nome == dig)
                    val2 = false;
            }
            if (!val) {
                document.getElementById("alertNome").style.display = "block";
                document.getElementById("alertNome2").style.display = "none";
                document.getElementById("nome").style.boxShadow = "5px 5px red";
                document.getElementById("nomeS").style.color = "red";
                document.getElementById("nomeF").style.color = "red";
                bNome = false;
            }
            if (!val2) {
                document.getElementById("alertNome").style.display = "none";
                document.getElementById("alertNome2").style.display = "block";
                document.getElementById("nome").style.boxShadow = "5px 5px red";
                document.getElementById("nomeS").style.color = "red";
                document.getElementById("nomeF").style.color = "red";
                bNome = false;
            }
            if (val && val2) {
                document.getElementById("nome").style.boxShadow = "5px 5px green";
                document.getElementById("nomeS").style.color = "green";
                document.getElementById("nomeF").style.color = "green";
                bNome = true;
            }
        }
        function Email(dig) {
            var lista = @Html.Raw(Json.Encode(ViewData["List"]));
            var val = true;
            var val2 = true;
            if (dig == "")
                val = false;

            var tem = false;
            for (var i = 0; i < dig.length; i++) {
                if (dig.charCodeAt(i) == 64)
                    tem = true;
            }

            if (tem) {
                if (dig.indexOf(".com") < 1)
                    tem = false;
            }
            if (!tem)
                val = false;

             for (var i = 0; i <@ViewBag.Qtos;i++) {
                var email = JSON.stringify(lista[i].email).split('"');
                email=email[1];
                if (email == dig)
                    val2 = false;
            }
             if (!val) {
                 document.getElementById("email").style.boxShadow = "5px 5px red";
                 document.getElementById("emailS").style.color = "red";
                 document.getElementById("emailF").style.color = "red";
                 document.getElementById("alertEmail").style.display = "block";
                 document.getElementById("alertEmail2").style.display = "none";
                 bEmail = false;
             }
            if (!val2) {
                document.getElementById("email").style.boxShadow = "5px 5px red";
                document.getElementById("emailS").style.color = "red";
                document.getElementById("emailF").style.color = "red";
                document.getElementById("alertEmail2").style.display = "block";
                document.getElementById("alertEmail").style.display = "none";
                bEmail = false;
            }
            if(val && val2) {
                document.getElementById("email").style.boxShadow = "5px 5px green";
                document.getElementById("emailS").style.color = "green";
                document.getElementById("emailF").style.color = "green";
                bEmail = true;
            }
        }

        function DataFinal(dig) {
            if (dig == "")
                val = false;
            else {
                var dia = dig.substring(0, 2);
                var mes = dig.substring(3, 5);
                var ano = dig.substring(6);

                if (mes > 12)
                    val = false;
                else {
                    var data = new Date(ano, mes-1, dia);
                    var val = true;

                    if (data.getTime() < (new Date("1960", "01", "01").getTime()))
                        val = false;

                    if (data.getTime() > (new Date("2019", "01", "01").getTime()))
                        val = false;

                    if (data.getMonth() > 12)
                        val = false;
                    document.getElementById("data").value = data.toLocaleDateString();
                }
            }
            if (!val) {
                document.getElementById("data").style.boxShadow = "5px 5px red";
                document.getElementById("dataS").style.color = "red";
                document.getElementById("dataF").style.color = "red";
                document.getElementById("alertData").style.display = "block";
                bData = false;
            }
            else {
                document.getElementById("data").style.boxShadow = "5px 5px green";
                document.getElementById("dataS").style.color = "green";
                document.getElementById("dataF").style.color = "green";
                bData = true;
            }
        }
        function Senha(dig) {

            var val = true;
            if (dig == "")
                val = false;
            if (dig.length < 6)
                val = false;

            if (!val) {
                document.getElementById("senha").style.boxShadow = "5px 5px red";
                document.getElementById("senhaS").style.color = "red";
                document.getElementById("senhaF").style.color = "red";
                document.getElementById("alertSenha").style.display = "block";
                bSenha = false;
            }
            else {
                document.getElementById("senha").style.boxShadow = "5px 5px green";
                document.getElementById("senhaS").style.color = "green";
                document.getElementById("senhaF").style.color = "green";
                bSenha = true;
            }
        }
        function Ver(dig) {

            var val = true;
            if (dig == "")
                val = false;
            if (dig != document.getElementById("senha").value)
                val = false;
            if (document.getElementById("senhaS").style.color == "red")
                val = false;

            if (!val) {
                document.getElementById("ver").style.boxShadow = "5px 5px red";
                document.getElementById("verS").style.color = "red";
                document.getElementById("verF").style.color = "red";
                document.getElementById("alertVer").style.display = "block";
                bVer = false;
            }
            else {
                document.getElementById("ver").style.boxShadow = "5px 5px green";
                document.getElementById("verS").style.color = "green";
                document.getElementById("verF").style.color = "green";
                bVer = true;
            }
        }

        function ClickNome() {
            document.getElementById("alertNome").style.display = "none";
            document.getElementById("alertNome2").style.display = "none";
        }
        function ClickEmail() {
            document.getElementById("alertEmail").style.display = "none";
            document.getElementById("alertEmail2").style.display = "none";
        }
        function ClickData() {
            document.getElementById("alertData").style.display = "none";
        }
        function ClickSenha() {
            document.getElementById("alertSenha").style.display = "none";
        }
        function ClickVer() {
            document.getElementById("alertVer").style.display = "none";
        }


    </script>
</head>
<body>
    <img class="ondas" id="ondas" src="~/Imagens/ondas2.png">
    <img src="~/Imagens/LOGO/logoofc.png" class="logo">

    <div class="header" id="header">
        <!-- <img class="barra" src="./Imagens/nav.png"> -->
        <input type="checkbox" id="chk">
        <label for="chk" class="show-menu-btn">
            <i class="fa fa-bars fa-w-14 fa-2x"></i>
        </label>
        <ul class="menu">
            <div class="ab" onclick="oi('Login')">LOGIN</div>
            <div class="ab" onclick="oi('Cadastro')">CADASTRE-SE</div>
            <div class="ab" onclick="oi('Sobre')">SOBRE</div>
            <div class="ab" onclick="oi('Contato')">CONTATO</div>
            <label for="chk" class="hide-menu-btn">
                <a class="menu-barra">
                    <i class="fa fa-times fa-w-14 fa-2x"></i>
                </a>
            </label>
        </ul>

    </div>

    @*<header>
                <nav id="navHeader">
                <ul>
                    <a id="home" href="~/Home/Index">HOME</a>
                    <a id="principal" href="~/Principal/Index">PRINCIPAL</a>
                    <a id="sobre" href="~/Sobre/Index">SOBRE</a>
                    <a id="login" href="~/Login/Index">LOGIN</a>
                    <a id="contato" href="~/Contato/Index">CONTATO</a>
                    <a id="perfil" href="~/Perfil/Index">PERFIL</a>
                </ul>
            </nav>

            <div id="opcoesFotos">

            </div>

        </header>*@
        <div class="container" id="cont">
            <form id="loginSection" method="post" action="HomeCadastrado" class="contact100-form validate-form" style:"background:#black;">
                <div class="wrap-contact100">
                    <span class="contact100-form-title">
                        CADASTRE-SE E JUNTE-SE A NÓS!
                    </span>
                    <span class="contact100-form-title2">
                        Preencha os campos abaixo com seus dados pessoais
                    </span>
                    <div class="contact100-pic js-tilt" data-tilt>
                        <img src="~/Imagens/cad.png" alt="IMG">
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Name is required">
                        <input class="input100" type="text" id="nome" placeholder="Nome" required pattern=".{6,}" title="No mínimo 6 caracteres" name="u.nome" onblur="Nome(value)" onclick="ClickNome()">
                        <span class="focus-input100" id="nomeF"></span>
                        <span class="symbol-input100" id="nomeS">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </span>
                    </div>
                    <img id="alertNome" src="~/Imagens/alertNome.png" />
                    <img id="alertNome2" src="~/Imagens/alertNome2.png" />


                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz" data-tooltip="oiiiiii">
                        <input class="input100" placeholder="Email" id="email" type="email" required name="u.email" title="ex@abc.xyz" data-tooltip="oiiiiii" onblur="Email(value)" onclick="ClickEmail()">
                        <span class="focus-input100" id="emailF"></span>
                        <span class="symbol-input100" id="emailS">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>
                    <img id="alertEmail" src="~/Imagens/alertEmail.png" />
                    <img id="alertEmail2" src="~/Imagens/alertEmail2.png" />

                    <div class="wrap-input100 validate-input" data-validate="Valid date is required: 00/00/0000">
                        <input class="input100" placeholder="Data Nascimento" id="data" type="datetime" name="u.dataNascimento" required onkeyup="Data()" onblur="DataFinal(value)" title="00/00/0000" onclick="ClickData()">
                        <span class="focus-input100" id="dataF"></span>
                        <span class="symbol-input100" id="dataS">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </span>
                    </div>
                    <img id="alertData" src="~/Imagens/alertData.png" />

                    <div class="wrap-input100 validate-input" data-validate="Valid password is required">
                        <input class="input100" placeholder="Senha" id="senha" type="password" name="u.senha" required onblur="Senha(value)" title="No mínimo 6 caracteres" onclick="ClickSenha()">
                        <span class="focus-input100" id="senhaF"></span>
                        <span class="symbol-input100" id="senhaS">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>
                    <img id="alertSenha" src="~/Imagens/alertSenha.png" />

                    <div class="wrap-input100 validate-input" data-validate="Valid password is required">
                        <input class="input100" placeholder="Confirmar Senha" id="ver" type="password" required onblur="Ver(value)" title="Digite novamente a senha" onclick="ClickVer()">
                        <span class="focus-input100" id="verF"></span>
                        <span class="symbol-input100" id="verS">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </span>
                    </div>
                    <img id="alertVer" src="~/Imagens/alertVer.png" />

                </div>
                <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn" onclick="Pode()" id="btnCadastrar">
                        Cadastrar
                    </button>
                </div>
                <a href="#">Já possui cadastro?</a>
            </form>
        </div>

    <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h2 class="logo">
                        <a href="#">
                            <img src="~/Imagens/LOGO/logoofc.png" class="logo2" id="logo2">
                        </a>
                    </h2>
                </div>
                <div class="col-sm-2">
                    <h5>Comece já</h5>
                    <ul>
                        <li><a href="#">Cadastre-se</a></li>
                        <li><a href="#">Login</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Empresa</h5>
                    <ul>
                        <li><a href="#">Sobre</a></li>
                        <li><a href="#">Contato</a></li>
                        <li><a href="#">Pareto</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Políticas</h5>
                    <ul>
                        <li><a href="~/Termos/Index">Termos e Condições</a></li>
                        <li><a href="~/Termos/Index">Política de Privacidade</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <div class="social-networks">
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                    </div>
                    <div class="btn btn-default">Siga-nos</div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2019 - Inova - Todos os direitos reservados </p>
        </div>
    </footer>

</body>
</html>
