
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript">
        
        window.onload = function () {
            var a = JSON.stringify("@ViewBag.Erro");
           
            a = a[1];
            
            if (a != "o") {
                  if (a == "e")
                    alert("Email não existe, faça um cadastro!");
            }

         }

        function VerificarSenhas()
        {
            if (document.getElementById("senha").value == document.getElementById("confirmaSenha").value)
                ok = true;
            else
                alert("As senhas dadas não são iguais!");
        }

    </script>
</head>
<body>
    <form method="post" action="TrocarSenha">
        E-mail: <input type="text" id="email" required name="u.nome"><br><br>
        Senha: <input type="password" id="senha" required name="u.senha"><br><br>
        Confirmar senha: <input type="password" id="confirmaSenha" required onchange="VerificarSenhas()"><br><br>
        <input type="submit" id="btnTrocarSenha">Trocar senha
    </form>
</body>
</html>
