
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomeCadastrado</title>
</head>
<body>
    <div>
        AQUI VAI SER A HOME QUANDO O USU JA ESTIVER CADASTRADO !
    </div>
</body>
</html>
