
<html>

<head>
    <title>I9</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="~/Content/HomeCadastradoCSS.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    </head>
<body>
    <div>DEU CERTOO
    </div>
</body>

</html>