
@{
    Layout = null;
}


<html>
<head>
    <title>Login</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="~/Content/LoginCSS.css" rel="stylesheet" type="text/css">
    <link href="~/Content/LayoutFooter.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <script type="text/javascript">

        window.onload = function ()
        {
            var erro = JSON.stringify("@ViewBag.Erro");
           
            erro = erro.split('"')[1];
            
            if (erro != "o") {
                alert("Senha errada");
                erro = erro.split('s')[1];
                document.getElementById("email").value = erro;
            }
        }

        function VerificarCadastro()
        {
            
            if (document.getElementById("email").value != "")
            {
                    var lista = @Html.Raw(Json.Encode(@ViewData["usuarios"]));
                    var estaCadastrado = false;

                    for (var i = 0; i < @ViewBag.QtdUsuarios; i++)
                    {
                        var email = (JSON.stringify(lista[i].email).split('"'))[1];
                        
                        if (document.getElementById("email").value == email)
                            estaCadastrado = true;
                    }

                    if (!estaCadastrado)
                    {
                        alert("Esse e-mail não está cadastrado!");
                        document.getElementById("email").value = "";

                    }
            }
        }

    </script>
</head>
<body>
    <header>
        <div class="header" id="header">
            <img class="ondas" id="ondas" src="~/Imagens/ondas.png">
            <img src="~/Imagens/LOGO/logoofc.png" class="logo">
            <!-- <img class="barra" src="./Imagens/nav.png"> -->
            <input type="checkbox" id="chk">
            <label for="chk" class="show-menu-btn">
                <i class="fa fa-
                   .bars fa-w-14 fa-2x"></i>
            </label>
            <ul class="menu">
                <div class="ab" onclick="oi('Login')">LOGIN</div>
                <div class="ab" onclick="oi('Cadastro')">CADASTRE-SE</div>
                <div class="ab" onclick="oi('Sobre')">SOBRE</div>
                <div class="ab" onclick="oi('Contato')">CONTATO</div>
                <label for="chk" class="hide-menu-btn">
                    <a class="menu-barra">
                        <i class="fa fa-times fa-w-14 fa-2x"></i>
                    </a>
                </label>
            </ul>
             </div>
    </header>

    <form id="login" method="post" action="/Login/HomeLogado">
        <br><br><br><br>
        <div class="login">
            <label for="email">Email: </label>
            <input id="email" type="text" class="validate" required onchange="VerificarCadastro()" name="u.email">
        </div><br><br><br><br><br><br>

        <div class="login">
            <label for="password">Senha: </label>
            <input id="password" type="password" class="validate" required pattern=".{2,}" name="u.senha">
        </div><br><br><br><br><br><br>

        <button id="btnEntrar">Entrar</button><br><br>
        <u><a href="~/Cadastro/Index" class="cNTemCadastro"> Não tem cadastro?! </a></u>
        <u><a href="~/TrocarSenha/Index" class="trocarSenha"> Esqueceu a senha? </a></u>
        <br><br>
    </form>

    <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h2 class="logo">
                        <a href="#">
                            <img src="~/Imagens/LOGO/logoofc.png" class="logo2" id="logo2">
                        </a>
                    </h2>
                </div>
                <div class="col-sm-2">
                    <h5>Comece já</h5>
                    <ul>
                        <li><a href="#">Cadastre-se</a></li>
                        <li><a href="#">Login</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Empresa</h5>
                    <ul>
                        <li><a href="#">Sobre</a></li>
                        <li><a href="#">Contato</a></li>
                        <li><a href="#">Pareto</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Políticas</h5>
                    <ul>
                        <li><a href="~/Termos/Index">Termos e Condições</a></li>
                        <li><a href="~/Termos/Index">Política de Privacidade</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <div class="social-networks">
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                    </div>
                    <div class="btn btn-default">Siga-nos</div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2019 - Inova - Todos os direitos reservados </p>
        </div>
    </footer>

</body>
</html>

