
@{
    Layout = null;
}


<html>
<head>
    <title>Login</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="~/Content/LoginCSS.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/animate2.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <script type="text/javascript">
        var load = 0;
        window.onload = function ()
        {
                var erro = JSON.stringify("@ViewBag.Erro");
                erro = erro.split('"')[1];
                if (erro != "o") {
                    erro = erro.split('s')[1];
                    document.getElementById("email").value = erro;
                    document.getElementById("alertLogin2").style.display = "block";
                    document.getElementById("senha").style.boxShadow = "5px 5px red";
                    document.getElementById("senhaS").style.color = "red";
                    document.getElementById("senhaF").style.color = "red";
                }
            
            
            Organiza();
        }
        window.onresize = function () {
            Organiza();
        }

        function Pode() {
            if (document.getElementById("alertLogin").style.display == "block")
                document.getElementById("email").value = "";
        }

        function Organiza() {
            var fundo = document.getElementById("ondas");
            var alert = document.getElementById("alertLogin");
            var alert2 = document.getElementById("alertLogin2");
            if (window.innerWidth >= 1300) {
                fundo.style.width = "100%";
                alert.style.width = "65%";
                alert.style.left = "15%";
                alert2.style.width = "65%";
                alert2.style.left = "14%";
            }
            else {
                if (window.innerWidth >= 1000){
                    alert.style.width = "70%";
                    alert.style.left = "12%";
                    alert2.style.width = "70%";
                    alert2.style.left = "14%";
                }
                else
                if (window.innerWidth >= 800) {
                    fundo.style.width = "120%";
                    alert.style.width = "90%";
                    alert.style.left = "4.5%";
                    alert2.style.width = "90%";
                    alert2.style.left = "4.5%";
                }
                else
                    if (window.innerWidth >= 567) {
                        alert.style.width = "90%";
                        alert.style.left = "4.5%";
                        alert2.style.width = "90%";
                        alert2.style.left = "4.5%";
                    }
                    else {
                        alert.style.width = "80%";
                        alert.style.left = "9%";
                        alert2.style.width = "80%";
                        alert2.style.left = "10%";
                    }
            }
        }
        function abrir(pag) {
            var link = '/' + pag + "/Index";
            window.location = link;
        }

        function VerificarCadastro()
        {

            if (document.getElementById("email").value != "")
            {
                    var lista = @Html.Raw(Json.Encode(@ViewData["usuarios"]));
                    var estaCadastrado = false;

                    for (var i = 0; i < @ViewBag.QtdUsuarios; i++)
                    {
                        var email = (JSON.stringify(lista[i].email).split('"'))[1];

                        if (document.getElementById("email").value == email)
                            estaCadastrado = true;
                    }

                    if (!estaCadastrado) {
                        document.getElementById("alertLogin").style.display = "block";
                        document.getElementById("email").style.boxShadow = "5px 5px red";
                        document.getElementById("emailS").style.color = "red";
                        document.getElementById("emailF").style.color = "red";
                    }
                    else {
                        document.getElementById("alertLogin").style.display = "none";
                        document.getElementById("email").style.boxShadow = "5px 5px green";
                        document.getElementById("emailS").style.color = "green";
                        document.getElementById("emailF").style.color = "green";
                    }
            }
        }

    </script>
</head>
<body>
    <header>
        <div class="header" id="header">
            <img class="ondas" id="ondas" src="~/Imagens/ondas2.png">
            <img src="~/Imagens/LOGO/logoofc.png" class="logo">

            <div class="header" id="header">
                <input type="checkbox" id="chk">
                <label for="chk" class="show-menu-btn">
                    <i class="fa fa-bars fa-w-14 fa-2x"></i>
                </label>
                <ul class="menu">
                    <div class="ab" onclick="abrir('Home')">HOME</div>
                    <div class="ab" onclick="abrir('Cadastro')">CADASTRO</div>
                    <div class="ab" onclick="abrir('Sobre')">SOBRE</div>
                    <div class="ab" onclick="abrir('Contato')">CONTATO</div>
                    <label for="chk" class="hide-menu-btn">
                        <a class="menu-barra">
                            <i class="fa fa-times fa-w-14 fa-2x"></i>
                        </a>
                    </label>
                </ul>

            </div>

        </div>
    </header>
    <div class="container" id="cont">
        <form id="loginSection" method="post"  action="/Login/HomeLogado" class="contact100-form validate-form" style:"background:#black;">
            <div class="wrap-contact100">
                <div class="contact100-pic js-tilt" data-tilt>
                    <img src="~/Imagens/login.png" alt="IMG">
                </div>
                <img id="alertLogin" src="~/Imagens/alertLogin.png" />
                <img id="alertLogin2" src="~/Imagens/alertLogin2.png" />
                <div class="wrap-input100 validate-input" data-validate="Name is required">
                    <input class="input100" type="text" id="email" placeholder="Email" name="u.email" required onblur="Email(value)" onclick="ClickEmail()" onchange="VerificarCadastro()">
                    <span class="focus-input100" id="emailF"></span>
                    <span class="symbol-input100" id="emailS">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Valid password is required">
                    <input class="input100" placeholder="Senha" id="senha" type="password" name="u.senha" required onblur="Senha(value)" onclick="ClickSenha()">
                    <span class="focus-input100" id="senhaF"></span>
                    <span class="symbol-input100" id="senhaS">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>
                @*<img id="alertSenha" src="~/Imagens/alertSenha.png" />*@

            </div>
            <div class="container-contact100-form-btn">
                <button class="contact100-form-btn" onclick="Pode()" id="btnCadastrar">
                    Login
                </button>
            </div>
            <div id="cadastro"><a href="~/Cadastro/Index" id="cad"onclick="Abrir'Cadastro'">Ainda não possui uma conta? <br />Cadastre-se aqui!</a></div>
        </form>
    </div>
   
    <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h2 class="logo">
                        <a href="#">
                            <img src="~/Imagens/LOGO/logoofc.png" class="logo2" id="logo2">
                        </a>
                    </h2>
                </div>
                <div class="col-sm-2">
                    <h5>Comece já</h5>
                    <ul>
                        <li><a href="#">Cadastre-se</a></li>
                        <li><a href="#">Login</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Empresa</h5>
                    <ul>
                        <li><a href="#">Sobre</a></li>
                        <li><a href="#">Contato</a></li>
                        <li><a href="#">Pareto</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Políticas</h5>
                    <ul>
                        <li><a href="~/Termos/Index">Termos e Condições</a></li>
                        <li><a href="~/Termos/Index">Política de Privacidade</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <div class="social-networks">
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                    </div>
                    <div class="btn btn-default">Siga-nos</div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2019 - Inova - Todos os direitos reservados </p>
        </div>
    </footer>

</body>
</html>

