

<html>
<head>
    <title>Sobre</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="~/Content/SobreCSS.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type="text/javascript">

        window.onload = function () {

            var ctx = document.getElementById("canvas").getContext("2d");

            window.myBar = new Chart(ctx, {
                type: 'bar',
                data: data,
                options: options
            });

            CarregarDadosBD();
        }

        var qualImg = null;

        function CarregarDadosBD() {
            
            qualImg = JSON.stringify("@ViewBag.UsuarioLogado.imagem");
            var img = qualImg.split('"')[1];
            if (img == "n")
                document.getElementById("opcoesFotos").style.display = "none";
            else
                   document.getElementById("opcoesFotos").innerHTML = "<input id=\"btnPerfil\" type=\"image\" src=" + qualImg + " onclick=\"CarregarPerfil()\">";
            
        }

        var seMostraPerfil = 2;
        function CarregarPerfil() {
            if (seMostraPerfil % 2 == 0) {
                document.getElementById("opcoesFotos").innerHTML = "<input id='btnPerfil' type='image' src=" + qualImg + " onclick='CarregarPerfil()'>" +
                    "<div id='divMenuV'><nav id ='menuV'><ul>" +
                    "<br><a id ='sairV' href='#' onclick='Erro()'>Sair</a><br><br>" +
                    "<a id ='configV' href='/Perfil/Index'><i class='fa fa-cog' id='iconeConfig'></i>Configurar conta</a><br><br></ul><nav></div>";
                seMostraPerfil++;
            }
            else {
                document.getElementById("opcoesFotos").innerHTML = " <input id='btnPerfil' type='image' src=" + qualImg + " onclick='CarregarPerfil()'>";
                seMostraPerfil++;
            }
        }

        function Erro() {
            document.getElementById("invisivel").submit();
        }

        //GRÁFICO DE PARETO
        var data = {
            animation: {
                onComplete: function () {
                    var ctx = this.chart.ctx;
                    ctx.textAlign = "center";
                    ctx.textBaseline = "middle";
                    ctx.fontSize = "400px";

                    this.chart.config.data.datasets.forEach(function (dataset) {
                        ctx.font = "2000px Arial";
                        switch (dataset.type) {
                            case "line":
                                ctx.fillStyle = "Black";
                                ctx.fontSize = "400px";
                                dataset.metaData.forEach(function (p) {
                                    ctx.fillText(p._chart.config.data.datasets[p._datasetIndex].data[p._index], p._model.x, p._model.y - 20);
                                });
                                break;
                            case "bar":
                                ctx.fillStyle = "White";
                                ctx.fontSize = "40px";
                                dataset.metaData.forEach(function (p) {
                                    ctx.fillText(p._chart.config.data.datasets[p._datasetIndex].data[p._index], p._model.x, p._model.y + 20);
                                });
                                break;
                        }
                    });
                }
            },
            labels: ["Boa organização", "Perda de eventos/compromissos por falta de organização", "Desejo de aderir rotinas", "Possui rotinas", "Costume de anotar compromissos em agenda", "Interesse em ser mais organizado(a)", "Elaboração de estratégias para realizar sonhos/objetivos", "Sonhos realizados com planejamento", "Sonhos realizados sem planejamento", "Acredita que organização diminui estresse", "Interesse em aderir à um software como o I9"],
            datasets: [{
                type: "line",
                label: "Acumulado",
                borderColor: "#1a237e",
                fontSize: 640,
                backgroundColor: "#1a237e",
                pointBorderWidth: 5,
                fill: false,
                data: [41.9, 38.7, 21, 24.18, 45.2, 67.7, 61.3, 59.7, 14.5, 79, 67.7],
                yAxisID: 'y-axis-2',
                fontSize: "64px"
            }, {
                type: "bar",
                label: "Dados",
                fontSize: "64px",
                borderColor: "#ffab91",
                backgroundColor: "#ffab91",
                data: [26, 24, 13, 39, 28, 42, 38, 37, 9, 49, 42],
                yAxisID: 'y-axis-1',
                fontSize: "64px"
            }]
        };

        var options = {
            scales: {
                yAxes: [{
                    type: "linear",
                    position: "left",
                    id: "y-axis-1",
                    stacked: true,
                    
                    ticks: {
                        suggestedMin: 0,
                        fontSize: 26
                    },
                    scaleLabel: {
                        display: true,
                        labelString: "Frequência",
                        fontSize: 26
                    }
                }, {
                    type: "linear",
                    position: "right",
                    id: "y-axis-2",
                    ticks: {
                        suggestedMin: 0,
                        callback: function (value) {
                            return value + "%";
                        },
                        fontSize: 26,
                        color: "red"
                    },
                    scaleLabel: {
                        display: true,
                        labelString: "Porcentagem",
                        fontSize: 26
                    }
                }]
            }
        };

        //window.onload = function () {
        //    var ctx = document.getElementById("canvas").getContext("2d");

        //    window.myBar = new Chart(ctx, {
        //        type: 'bar',
        //        data: data,
        //        options: options
        //    });
        //};

    </script>
</head>
<body>
    <header>

        <nav id="navHeader">
            <ul>
                <a id="home" href="~/Home/Index">HOME</a>
                <a id="principal" href="~/Principal/Index">PRINCIPAL</a>
                <a id="contato" href="~/Contato/Index">CONTATO</a>
                <a id="perfil" href="~/Perfil/Index">PERFIL</a>
            </ul>
        </nav>


        <div id="opcoesFotos">

        </div>


    </header>

    <form id="invisivel" method="post" action="/Sobre/Erro"></form>

    <canvas id="canvas"></canvas>

    <img src="~/Imagens/formigaSobre.png" id="imagem">
</body>
</html>
