@{
    Layout = null;
    }

<html>
<head>
    <title>Bastidores</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/BastidoresCSS.css" rel="stylesheet" type="text/css">
     <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous'></script>
    <script type="text/javascript">

        window.onload = function () {
            CarregarDadosBD();
            Organiza();
        }
        window.onresize = function () {
            Organiza();
        }
        function Organiza() {
            var fundo = document.getElementById("ondas");
            var img1 = document.getElementById("img1");
            var img2 = document.getElementById("img2");
            var img3 = document.getElementById("img3");
            var img4 = document.getElementById("img4");
            var img2 = document.getElementById("img5");
            var img3 = document.getElementById("img6");
            var img4 = document.getElementById("img7");
            var nav = document.getElementById("nav");

            if (window.innerWidth >= 1300) {
                fundo.style.width = "100%";
                img1.style.height = "80%";
                img2.style.height = "80%";
                img3.style.height = "80%";
                img4.style.height = "80%";
                img5.style.height = "80%";
                img6.style.height = "80%";
                img7.style.height = "80%";
                nav.style.top = "initial";
            }
            else
                if (window.innerWidth >= 1000) {
                    img1.style.height = "80%";
                    img2.style.height = "80%";
                    img3.style.height = "80%";
                    img4.style.height = "80%";
                    img5.style.height = "80%";
                    img6.style.height = "80%";
                    img7.style.height = "80%";
                    nav.style.top = "initial";
                }
                else
                    if (window.innerWidth >= 800) {
                        fundo.style.width = "120%";
                        img1.style.height = "55%";
                        img2.style.height = "55%";
                        img3.style.height = "55%";
                        img4.style.height = "55%";
                        nav.style.top = "100%";
                    }
                    else
                        if (window.innerWidth >= 600) {
                            img1.style.height = "39%";
                            img2.style.height = "39%";
                            img3.style.height = "39%";
                            img4.style.height = "39%";
                            img5.style.height = "39%";
                            img6.style.height = "39%";
                            img7.style.height = "39%";
                            nav.style.top = "80%";
                        }
                        else {
                            img1.style.height = "35%";
                            img2.style.height = "35%";
                            img3.style.height = "35%";
                            img4.style.height = "35%";
                            img5.style.height = "35%";
                            img6.style.height = "35%";
                            img7.style.height = "35%";
                            nav.style.top = "78%";
                        }


            }

        var qualImg = null;

        function CarregarDadosBD() {

            qualImg = JSON.stringify("@ViewBag.UsuarioLogado.imagem");
            var img = qualImg.split('"')[1];
            if (img == "n")
                document.getElementById("opcoesFotos").style.display = "none";
            else
                   document.getElementById("opcoesFotos").innerHTML = "<input id=\"btnPerfil\" type=\"image\" src=" + qualImg + " onclick=\"CarregarPerfil()\">";

        }

        var seMostraPerfil = 2;
        function CarregarPerfil() {
            if (seMostraPerfil % 2 == 0) {
                document.getElementById("opcoesFotos").innerHTML = "<input id='btnPerfil' type='image' src=" + qualImg + " onclick='CarregarPerfil()'>" +
                    "<div id='divMenuV'><nav id ='menuV'><ul>" +
                    "<img id='ImgCoracao' src='/Imagens/pontuacao.png'>" + "<label id='lblPontuacao'>" + @ViewBag.UsuarioLogado.pontuacao + "</label>" +
                    "<br><a id ='sairV' href='#' onclick='Erro()'>Sair</a><br><br>" +
                    "<a id ='configV' href='/Perfil/Index'><i class='fa fa-cog' id='iconeConfig'></i>Configurar conta</a><br><br></ul><nav></div>";
                seMostraPerfil++;
            }
            else {
                document.getElementById("opcoesFotos").innerHTML = " <input id='btnPerfil' type='image' src=" + qualImg + " onclick='CarregarPerfil()'>";
                seMostraPerfil++;
            }
        }
        function abrir(pag) {
            var link = '/' + pag + "/Index";
            window.location = link;
        }

        function Erro() {
            document.getElementById("invisivel").submit();
        }

    </script>
</head>
<body>
    <img class="ondas" id="ondas" src="~/Imagens/ondas2.png">
    <img src="~/Imagens/LOGO/logoofc.png" class="logo">
    <header>

        <div class="header" id="header">
            <input type="checkbox" id="chk">
            <label for="chk" class="show-menu-btn">
                <i class="fa fa-bars fa-w-14 fa-2x"></i>
            </label>
            <ul class="menu">
                <div class="ab" onclick="abrir('Home')">HOME</div>
                <div class="ab" onclick="abrir('Cadastro')">CADASTRO</div>
                <div class="ab" onclick="abrir('Sobre')">SOBRE</div>
                <div class="ab" onclick="abrir('Contato')">CONTATO</div>
                <label for="chk" class="hide-menu-btn">
                    <a class="menu-barra">
                        <i class="fa fa-times fa-w-14 fa-2x"></i>
                    </a>
                </label>
            </ul>

        </div>


        <div id="opcoesFotos">

        </div>
    </header>

    <form id="invisivel" method="post" action="/Sobre/Erro"></form>

    <div class="slidershow middle" id="slidersh">
        <div class="slides">
            <div class="slide" s1 id="s1">
                <img src="~/Imagens/imgp6.png" alt="" name="imgN" id="img3">
            </div>
            <div class="slide">
                <img src="~/Imagens/imgp3.png" alt="" name="imgN" id="img6">
            </div>

            <div class="slide">
                <img src="~/Imagens/imgp2.png" alt="" name="imgN" id="img2">
            </div>
            <div class="slide">
                <img src="~/Imagens/imgp4.png" alt="" name="imgN" id="img1">
            </div>
            <div class="slide">
                <img src="~/Imagens/imgp5.png" alt="" name="imgN" id="img5">
            </div>
            <div class="slide">
                <img src="~/Imagens/imgp1.png" alt="" name="imgN" id="img4">
            </div>


        </div>
    </div>
    <div class="navigation" id="nav">
        <label id="r1B" class="bar selector" onclick="trocarSlide(0)"></label>
        <label id="r2B" class="bar selector" onclick="trocarSlide(1)"></label>
        <label id="r3B" class="bar selector" onclick="trocarSlide(2)"></label>
        <label id="r4B" class="bar selector" onclick="trocarSlide(3)"></label>
        <label id="r5B" class="bar selector" onclick="trocarSlide(4)"></label>
        <label id="r6B" class="bar selector" onclick="trocarSlide(5)"></label>
    </div>
    <br /><br /><br /><br /><br />

    <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h2 class="logo">
                        <a href="#">
                            <img src="~/Imagens/LOGO/logoofc.png" class="logo2" id="logo2">
                        </a>
                    </h2>
                </div>
                <div class="col-sm-2">
                    <h5>Comece já</h5>
                    <ul>
                        <li><a href="#">Cadastre-se</a></li>
                        <li><a href="#">Login</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Empresa</h5>
                    <ul>
                        <li><a href="#">Sobre</a></li>
                        <li><a href="#">Contato</a></li>
                        <li><a href="#">Pareto</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Políticas</h5>
                    <ul>
                        <li><a href="~/Termos/Index">Termos e Condições</a></li>
                        <li><a href="~/Termos/Index">Política de Privacidade</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <div class="social-networks">
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                    </div>
                    <div class="btn btn-default">Siga-nos</div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2019 - Inova - Todos os direitos reservados </p>
        </div>
    </footer>
    <script src="~/Scripts/bootstrap-min.js"></script>
</body>
</html>
