
@{
    ViewBag.Title = "Index";
}

<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#FFFFFF">
    <link href="~/Content/PoliticaCSS.css" rel="stylesheet" />
    <title>Política de privacidade - I9</title>

</head>
<body class="" data-language="br">
  
        <section class="policy-page terms-spacing">
            <div class="container">
                <h1 class="title">Política de privacidade</h1>
                <div class="align-list">
                    <p><strong>Índice</strong></p>
                    <ol>
                        <li><a href="#15-maio">Efetivada em 25 de maio, 2019</a></li>
                        <li><a href="#protecao-da-sua-privacidade">Estamos comprometidos com a proteção da sua privacidade</a></li>
                        <li><a href="#informacoes-coletadas">Informações coletadas</a></li>
                        <li><a href="#uso-da-informacao">Uso da informação</a></li>
                        <li><a href="#arquivos-de-log">Arquivos de log)</a></li>
                        <li><a href="#cookies">Cookies</a></li>
                        <li><a href="#liberacao-de-informacoes">Liberação de informações</a></li>
                        <li><a href="#atualizacao-de-informacoes-pessoais">Correção/atualização de informações pessoais</a></li>
                        <li><a href="#nao-recebimento-de-comunicados">Opção de não-recebimento de comunicados</a></li>
                        <li><a href="#seguranca">Segurança</a></li>
                        <li><a href="#dados-enviados">Informações e dados enviados a uma outra pessoa ou entidade em nossa rede</a></li>
                        <li><a href="#cooperacao-com-as-leis">Cooperação com as leis e instâncias legais</a></li>
                        <li><a href="#mudancas-nesta-politica">Mudanças nesta Política</a></li>
                        <li><a href="#resolucao-de-disputas"> Execução destes preceitos e resolução de disputas</a></li>
                        <li><a href="#contato">Contato</a></li>
                    </ol>
                    <h2 id="15-maio"><strong>1.</strong> Efetivada em 25 de maio, 2019</h2>
                    <p>Nós da I9 estamos comprometidos com a proteção de quaisquer informações e dados sobre você que venhamos a coletar. Ao utilizar nossos serviços, você concorda com o uso – dentro dos limites e condições impostos por esta Política de Privacidade – dos dados coletados. A I9 declarou formalmente sua adesão aos princípios de aviso (notice), escolha (choice), passagem adiante (onward transfer), segurança (security), integridade de dados (data integrity), acesso (access), e execução (enforcement).</p>
                    <h2 id="protecao-da-sua-privacidade"><strong>2.</strong> Estamos comprometidos com a proteção da sua privacidade</h2>
                    <p>Nós coletamos somente informações que são necessárias ao fornecimento de serviços satisfatórios. Esta Política indica o tipo de processos que podem resultar em coleta de informações e dados sobre você. O propósito desta Política de Privacidade é ajudá-lo a compreender que tipos de informações de identificação pessoal (“IIP”) são coletados, como e quando poderemos usar essas informações, quem tem acesso a tais informações, e como você pode corrigir quaisquer imprecisões nessas informações. Para melhor proteger sua privacidade, fornecemos esta declaração explicando nossas práticas de gerenciamento de informação e as escolhas que você pode fazer sobre como informações sobre você serão coletadas e utilizadas. Para que esta declaração seja facilmente encontrada, nós a disponibilizamos em nosso site.</p>
                    <h2 id="informacoes-coletadas"><strong>3.</strong> Informações coletadas</h2>
                    <p>Poderemos coletar todos e quaisquer tipos de informações através de meios automatizados como perfis e cookies. As informações de identificação pessoal que podem ser solicitadas dependem do tipo de serviço, natureza do suporte ou interação comercial, e podem incluir nome; endereço residencial/comercial; número de telefone; endereço email; datas de contratação e/ou fornecimento de serviços; tipos de serviço fornecidos;. Toda informação sensível é coletada num servidor seguro, para que os dados possam ser repassados. Sempre que estiver repassando informações seguras, um ícone de segurança aparecerá no seu navegador.</p>
                    <h2 id="uso-da-informacao"><strong>4.</strong> Uso da informação</h2>
                    <p>Essas informações são utilizadas para cobrança e para fornecer serviços e suporte aos nossos clientes. Nós poderemos também estudar essas informações para determinar as necessidades dos nossos clientes e para fornecimento de suporte. Todas as precauções razoáveis são tomadas para impedir o acesso não-autorizado a essas informações. Tais salvaguardas podem implicar no fornecimento de formas adicionais de confirmação de identidade caso você queira obter informações sobre os detalhes da sua conta. A I9 pode enviar seu boletim informativo (newsletter) mensal para o contato primário cadastrado, mas em qualquer momento os clientes podem optar por não receber esse boletim informativo.</p>
                    <h2 id="arquivos-de-log"><strong>5.</strong> Arquivos de log</h2>
                    <p>Utilizamos endereços IP para analisar tendências, administrar nosso site e servidores, rastrear acessos, e coletar amplas informações demográficas para uso agregado. Endereços IP não são vinculados a informações de identificação pessoal. É possível que informações pessoais sobre um consumidor sejam incluídas em arquivos de log devido às funções normais de endereços IP e da navegação na web.</p>
                    <h2 id="cookies"><strong>6.</strong> Cookies</h2>
                    <p>O seu navegador de internet conta com a função interna de armazenar pequenos arquivos de texto – “cookies” – que contêm informações que permitem que um site reconheça a sua conta. Nós utilizamos cookies para armazenar suas preferências e informações de login, e fornecer funcionalidades personalizadas. Você pode rejeitar o uso de cookies alterando as configurações do seu navegador, mas saiba que isso desabilitará parte das funcionalidades do site da I9.</p>
                    <h2 id="liberacao-de-informacoes"><strong>7.</strong> Liberação de informações</h2>
                    <p>Nós não liberamos para terceiros quaisquer informações pessoais obtidas sobre você a partir deste site. Isso não se aplica a afiliados que fornecem serviços para você com base em links fornecidos dentro do seu painel de controle cPanel, no qual informações serão compartilhadas para facilitar o uso de comodidades incluídas nas nossas contas de hospedagem.</p>
                    <p>Poderemos utilizar informações pessoais para manter contato com você e informá-lo sobre desenvolvimentos relacionados às nossas atividades. Também poderemos liberar dados agregados anônimos, baseados em informações dos nossos usuários, para parceiros em potencial, afiliados, e terceiras partes reputáveis. Tomamos todas as medidas disponíveis para selecionar afiliados e provedores de serviços que são éticos e fornecem um grau de proteção à privacidade similar ao nosso aos seus clientes e comunidade.</p>
                    <h2 id="atualizacao-de-informacoes-pessoais"><strong>8.</strong> Correção/atualização de informações pessoais</h2>
                    <p>Se as informações de identificação pessoal de um cliente mudam, ou se um cliente não mais desejar utilizar nossos serviços, procuraremos fornecer uma maneira de corrigir ou atualizar os dados pessoais daquele cliente conforme constam em nossos registros. Na maior parte dos casos, isso pode ser feito a partir do nosso <a href="#">sistema financeiro</a>. Do contrário, por favor nos contate através dos nossos <a href="https://suporte.I9.com.br/hc/pt-br#canais-de-ajuda">Canais de Ajuda</a>.</p>
                    <h2 id="nao-recebimento-de-comunicados"><strong>9.</strong> Opção de não-recebimento de comunicados</h2>
                    <p>Por padrão, nossos clientes voluntariamente recebem quaisquer comunicados de sistema relevantes. Qualquer consumidor que recebe esses comunicados voluntariamente pode optar pela anulação da inscrição e parar de recebê-los. Nossos clientes não podem, porém, optar por não receber eventuais notificações importantes do sistema, nas raras ocasiões em que esse tipo de notificação se faz necessário.</p>
                    <h2 id="seguranca"><strong>10.</strong> Segurança</h2>
                    <p>A I9 utiliza medidas técnicas de segurança para impedir a perda, uso indevido, falsificação ou liberação não-autorizada de informações sob nosso controle. A I9 utiliza medidas de segurança que incluem, mas não estão limitadas a: procedimentos físicos, eletrônicos e de gerenciamento para proteger as informações que coletamos online.</p>
                    <h2 id="dados-enviados"><strong>11.</strong> Informações e dados enviados a uma outra pessoa ou entidade em nossa rede</h2>
                    <p>Como mencionado acima, a I9 coleta certos dados/informações confidenciais de clientes, e esses dados/informações são utilizados no fornecimento de serviços de hospedagem de sites e registro de domínios. É preciso frisar que esta Política de Privacidade se aplica somente aos dados e informações confidenciais fornecidos a nós. Esta Política de Privacidade não se aplica a dados e informações confidenciais que foram fornecidos a outras pessoas ou entidades para as quais a I9 possa fornecer serviços de hospedagem ou registro de domínios, e em relação às quais não exercemos qualquer autoridade ou controle. Uma avaliação independente das políticas de privacidade próprias a essa outra pessoa ou entidade deve ser realizada antes que dados ou informações confidenciais sejam fornecidos a essa outra pessoa ou entidade.</p>
                    <h2 id="cooperacao-com-as-leis"><strong>12.</strong> Cooperação com as leis e instâncias legais</h2>
                    <p>Nós cooperamos com oficiais do governo e instâncias legais para executar e cumprir os preceitos da lei. Liberaremos quaisquer informações sobre Usuários mediante uma solicitação válida por parte de oficiais do governo e instâncias legais, já que acreditamos ser necessário e apropriado responder a requerimentos e processos legais (incluindo, mas não limitado a, intimações), de modo a proteger sua propriedade e direitos, ou a propriedade e direitos de terceiros, proteger a segurança do público ou qualquer indivíduo e impedir atividades que consideramos ilegais ou anti-éticas.</p>
                    <h2 id="mudancas-nesta-politica"><strong>13.</strong> Mudanças nesta Política</h2>
                    <p>Quaisquer mudanças em nossa Política de Privacidade serão apresentadas nesta página e tornarão obsoleta a versão atual desta Política, que será sobreposta pela versão modificada. Tomaremos medidas razoáveis para chamar a atenção para quaisquer mudanças em nossa Política de Privacidade. Sugerimos, porém, que você leia este documento sempre que utilizar nosso site, de modo a verificar se ele continua a receber sua aprovação.</p>
                    <h2 id="resolucao-de-disputas"><strong>14.</strong> Execução destes preceitos e resolução de disputas</h2>
                    <p>A I9 estabeleceu mecanismos internos para verificar sua contínua aderência a esta política de privacidade. A I9 encoraja todo indivíduo coberto por esta política de privacidade a expressar quaisquer preocupações sobre o processamento e gerenciamento de suas informações pessoais contatando a I9 no email <strong>privacidade@I9.com.br</strong>.</p>
                    <p>A I9 procurará sanar quaisquer preocupações dos seus usuários. </p>
                    <h2 id="contato"><strong>15.</strong> Contato</h2>
                    <p>Se você tiver quaisquer questões sobre nossa Política de Privacidade, ou desejar saber que informações coletamos sobre você, por favor envie um email para <strong>privacidade@I9.com.br</strong>.</p>
                </div>
            </div>
        </section>
       
</body>
</html>
