

<html>
<head>
    <title>Contato</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="~/Content/ContatoCSS.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <script type="text/javascript">

        window.onload = function () {
           
            CarregarDadosBD();
        }

        var qualImg = null;

        function CarregarDadosBD() {
            //IMAGEM
            qualImg = JSON.stringify("@ViewBag.UsuarioLogado.imagem");

            document.getElementById("opcoesFotos").innerHTML = "<input id='btnPerfil' type=\"image\" src=" + qualImg + " onclick=\"CarregarPerfil()\">";
        }

        var seMostraPerfil = 2;
        function CarregarPerfil() {
            if (seMostraPerfil % 2 == 0) {
                document.getElementById("opcoesFotos").innerHTML = "<input id='btnPerfil' type='image' src=" + qualImg + " onclick='CarregarPerfil()'>" +
                    "<div id='divMenuV'><nav id ='menuV'><ul>" +
                    "<br><a id ='sairV' href='#' onclick='Erro()'>Sair</a><br><br>" +
                    "<a id ='configV' href='/Perfil/Index'><i class='fa fa-cog' id='iconeConfig'></i>Configurar conta</a><br><br></ul><nav></div>";
                seMostraPerfil++;
            }
            else {
                document.getElementById("opcoesFotos").innerHTML = " <input id='btnPerfil' type='image' src=" + qualImg + " onclick='CarregarPerfil()'>";
                seMostraPerfil++;
            }
        }

        function Erro() {
            document.getElementById("invisivel").submit();
        }


    </script>
</head>
<body>
    <header>

        <nav id="navHeader">
            <ul>
                <a id="home" href="~/Home/Index">HOME</a>
                <a id="principal" href="~/Principal/Index">PRINCIPAL</a>
                <a id="sobre" href="~/Sobre/Index">SOBRE</a>
                <a id="perfil" href="~/Perfil/Index">PERFIL</a>
            </ul>
        </nav>


        <div id="opcoesFotos">

        </div>

    </header>

    <form id="invisivel" method="post" action="/Contato/Erro"></form>

    <section id="contatoSection">
        <img id="imgBalao" src="~/Imagens/balao.png">
        <h1 id="h1Contato">Informações de contato: </h1>
        <li class="info">inovaAgora@gmail.com</li>
        <li class="info">i9@hotmail.com</li>
        <li class="info">(19)3336-5487</li>
        <li class="info">(19)5135-9804</li>
        <li class="info">Endereço: R. Jorge de Figueiredo Corrêa, 735 - Chácara Primavera, Campinas - SP, 13087-261</li>
    </section>
</body>
</html>
