

<html>
<head>
    <title>Contato</title>
    <link rel="shortcut icon" href="~/Imagens/icons/favicon.ico">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/animate3.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.0.min.js"></script>
    <script type="text/javascript" src="~/Script/CadScript.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="~/Content/ContatoCSS.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <script type="text/javascript">

        window.onload = function () {

            CarregarDadosBD();
            Organiza();
           
        }

        var qualImg = null;
        window.onresize = function () {
            Organiza();
        }

        function abrir(pag) {
            var link = '/' + pag + "/Index";
            window.location = link;
        }

        function Organiza() {
            var fundo = document.getElementById("ondas");
            var btn = document.getElementById("btnCadastrar");

            btn.style.top = "-7em";

            if (window.innerWidth >= 1300) {
                fundo.style.width = "100%";
                btn.style.left = "156%";
            }
            else
                if (window.innerWidth >= 1200) {
                    btn.style.left = "156%";
                    btn.style.width = "222%";
                }
                else {
                    if (window.innerWidth >= 800) {
                        if (window.innerWidth >= 992) {
                            btn.style.left = "106%";
                            btn.style.width = "92%";
                        }
                        else
                            btn.style.left = "74%";

                        fundo.style.width = "120%";
                    }
                    else
                        if (window.innerWidth >= 770) {
                            btn.style.left = "78%";
                            btn.style.width = "80%";
                        }
                        else
                                if (window.innerWidth >= 576) {
                                    btn.style.left = "-1%";
                                    btn.style.width = "67%";
                                    btn.style.top = "-5em";
                                }
                                else {
                                    btn.style.left = "-10%";
                                    btn.style.width = "75%";
                                    btn.style.top = "-5em";
                                }
                            
                }


        }
        function CarregarDadosBD() {
            qualImg = JSON.stringify("@ViewBag.UsuarioLogado.imagem");
            var img = qualImg.split('"')[1];
            if (img == "n")
                document.getElementById("opcoesFotos").style.display = "none";
            else
                   document.getElementById("opcoesFotos").innerHTML = "<input id=\"btnPerfil\" type=\"image\" src=" + qualImg + " onclick=\"CarregarPerfil()\">";
        }

         var seMostraPerfil = 2;
        function CarregarPerfil() {
            if (seMostraPerfil % 2 == 0) {
                document.getElementById("opcoesFotos").innerHTML = "<input id='btnPerfil' type='image' src=" + qualImg + " onclick='CarregarPerfil()'>" +
                    "<div id='divMenuV'><nav id ='menuV'><ul>" +
                    "<img id='ImgCoracao' src='/Imagens/pontuacao.png' onclick='ExplicarEstrela()'>" + "<label id='lblPontuacao'>" + @ViewBag.UsuarioLogado.pontuacao + "</label>" +
                    "<br><a id ='sairV' href='#' onclick='Erro()'>Sair</a><br><br>" +
                    "<a id ='configV' href='/Perfil/Index'><i class='fa fa-cog' id='iconeConfig'></i>Configurar conta</a><br><br></ul><nav></div>";
                seMostraPerfil++;
            }
            else {
                if (document.getElementById("divExplicaEstrela") != null)
                     document.getElementById("divExplicaEstrela").style.display = 'none';
                document.getElementById("opcoesFotos").innerHTML = " <input id='btnPerfil' type='image' src=" + qualImg + " onclick='CarregarPerfil()'>";
                seMostraPerfil++;
            }
        }

        function Erro() {
            document.getElementById("invisivel").submit();
        }


    </script>
</head>
<body>
    <header>

        <div class="header" id="header">
            <input type="checkbox" id="chk">
            <label for="chk" class="show-menu-btn">
                <i class="fa fa-bars fa-w-14 fa-2x"></i>
            </label>
            <ul class="menu">
                @if (ViewBag.UsuarioLogado.imagem == "n")
                {
                    <div class="ab" onclick="abrir('Home')">HOME</div>
                    <div class="ab" onclick="abrir('Cadastro')">CADASTRO</div>
                    <div class="ab" onclick="abrir('Login')">LOGIN</div>
                    <div class="ab" onclick="abrir('Sobre')">SOBRE</div>
                }
                else
                {
                    <div class="ab" onclick="abrir('Home')">HOME</div>
                    <div class="ab" onclick="abrir('Principal')">PRINCIPAL</div>
                    <div class="ab" onclick="abrir('Perfil')">PERFIL</div>
                    <div class="ab" onclick="abrir('Sobre')">SOBRE</div>
                }

                <label for="chk" class="hide-menu-btn">
                    <a class="menu-barra">
                        <i class="fa fa-times fa-w-14 fa-2x"></i>
                    </a>
                </label>
            </ul>

        </div>


        <div id="opcoesFotos">

        </div>

    </header>

    <form id="invisivel" method="post" action="/Contato/Erro"></form>

    <div class="container" id="cont">
        <form id="loginSection" method="post" action="ContEnvia" class="contact100-form validate-form" style:"background:#black;">
            <div class="wrap-contact100">
                <span class="contact100-form-title">
                    CONTATO
                </span>
                <span class="contact100-form-title2">
                    Entre em contato com nós
                </span>
                <div id="dados">
                    <h1 class="email"><b> Email:</b> i9@hotmail.com</h1>
                    <h1 class="tel"> <b>Tel:&nbsp;&nbsp;&nbsp;&nbsp;</b> (19) 3521-9903</h1>
                    <h1 class="end"><b>Endereço:</b></h1>
                    <h1 class="end">R. Jorge de Figueiredo Corrêa, 735 Chácara Primavera, Campinas - SP</h1>
                </div>
                <div class="contact100-pic js-tilt" data-tilt>
                    <img src="~/Imagens/conj.png" alt="IMG">
                </div>
                @if (ViewBag.UsuarioLogado.imagem != "n")
                {
                    <div class="wrap-input100 validate-input" data-validate="Name is required">
                    <input class="input100" type="text" id="nome" value ="@ViewBag.UsuarioLogado.nome" placeholder="Nome" required pattern=".{6,}" title="No mínimo 6 caracteres" name="men.nome" onblur="Nome(value)" onclick="ClickNome()">
                    <span class="focus-input100" id="nomeF"></span>
                    <span class="symbol-input100" id="nomeS">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                </div>
                }
                else
                {
                    <div class="wrap-input100 validate-input" data-validate="Name is required">
                    <input class="input100" type="text" id="nome" placeholder="Nome" required pattern=".{6,}" title="No mínimo 6 caracteres" name="men.nome" onblur="Nome(value)" onclick="ClickNome()">
                    <span class="focus-input100" id="nomeF"></span>
                    <span class="symbol-input100" id="nomeS">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                </div>
                }

                <div class="wrap-input100 validate-input" data-validate="Valid comment is required">
                    <textarea class="input100" placeholder="Mensagem" id="com" name="men.mensagem" required onblur="Ver(value)" title="Digite uma mensagem" onclick="ClickVer()"></textarea>
                    <span class="focus-input100" id="comF"></span>
                    <span class="symbol-input100" id="comS">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                </div>

            </div>
            <div class="container-contact100-form-btn">
                <button class="contact100-form-btn" id="btnCadastrar">
                    Enviar mensagem
                </button>
            </div>
        </form>
    </div>
</body>
</html>
