<html>
<head>
    <title>I9</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="~/Content/HomeCSS.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <script type="text/javascript" src="~/Script/JavaScript.js"></script>
      
    <script type="text/javascript" >
        function oi(pag) {
            var link = '/' + pag + "/Index";
            window.location = link;
        }
    </script>
</head >

                <body>
                    <div class="header" id="header">
                        <img class="ondas" id="ondas" src="~/Imagens/ondas.png">
                            <img src="~/Imagens/LOGO/logoofc.png" class="logo">
                                <!-- <img class="barra" src="./Imagens/nav.png"> -->
                <input type="checkbox" id="chk">
                                        <label for="chk" class="show-menu-btn">
                                            <i class="fa fa-bars fa-w-14 fa-2x"></i>
                                        </label>
                                        <ul class="menu">
                                            <div class="ab" onclick="oi('Login')">LOGIN</div>
                                            <div class="ab" onclick="oi('Cadastro')">CADASTRE-SE</div>
                                            <div class="ab" onclick="oi('Sobre')">SOBRE</div>
                                            <div class="ab" onclick="oi('Contato')">CONTATO</div>
                                            <label for="chk" class="hide-menu-btn">
                                                <a class="menu-barra">
                                                    <i class="fa fa-times fa-w-14 fa-2x"></i>
                                                </a>
                                            </label>
                                        </ul>
            </div>

                                    <!--<ul id="slide-out" class="sidenav" >
                                        <div class="wrap-menu">
                                            <div class="container" onclick="myFunction(this)">
                                                <div class="bar1"></div>
                                                <div class="bar2"></div>
                                                <div class="bar3"></div>
                                            </div>
                                            <div class="balon"></div>
                                            <div class="hrUm"></div>
                                            <li><a id="cadmin" href="Cadastro.html" >CADASTRE-SE</a></li><div class="hrDois"></div>
                                            <li><a id="loginmin" href="Login.html" >LOGIN</a>  </li><div class="hrDois"></div>
                                            <li><a id="sobremin" href="Sobre.html" >SOBRE</a></li><div class="hrDois"></div>
                                            <li><a id="contmin" href="Contato.html" >CONTATO</a></li>


                                        </div>
                                    </ul>-->
            <!--
                  <ul id="slide-out" class="sidenav">
                                        <li><div class="user-view">
                                            <div class="background">
                                                <img src="images/office.jpg">
                        </div>
                                                <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
                                                    <a href="#name"><span class="white-text name">John Doe</span></a>
                                                    <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
                      </div></li>
                                            <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
                                            <li><a href="#!">Second Link</a></li>
                                            <li><div class="divider"></div></li>
                                            <li><a class="subheader">Subheader</a></li>
                                            <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
                    </ul>
                                            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">,</i></a>


                                            -->
            <section class="home-hero">
                                                <div>
                                                    <img class="frase" src="~/Imagens/frase1.png" id="frase">
                </div>
                                                    <img class="btnComece" src="~/Imagens/ComeceJa.png" id="comece">
                                                        <div>
                                                            <img class='coisinhas' id="coisa2">
                </div>
            </section>
                                                        <div class="content" id="form">
                                                            <div>
                                                                <img class="formiga" id="formiga" src="~/Imagens/formigaFofa.png">
                </div>
                                                                <div id="h1"> A melhor forma de organizar seu dia a dia</div>
                                                                <div id="h2">
                                                                    Aprenda a organizar seus eventos e planejar seu dia a dia
                    de forma rápida, simples e eficiente. Dispomos de uma agenda em
                    nossa plataforma a fim de os ajudar no planejamento semanal e mensal.
                </div>
                                                            </div>
                                                            <div class="content" id="compromisso">
                                                                <div>
                                                                    <img class="maos" id="maos" src="~/Imagens/Home/img1.png">
                </div>
                                                                    <div id="h3"> Planeje suas tarefas e eventos </div>
                                                                    <div id="h4">
                                                                        Você não precisa mais perder a cabeça
                    tentando controlar seus compromissos e tarefas,
                    te ajudaremos a montar estratégias a fim de atingir
                    seus objetivos
                </div>
                                                                </div>
                                                                <center>
                                                                    <img class="info" id="info" src="~/Imagens/Home/img2.png">
                                                                        <div id="conj">
                                                                            <img class="atu" id="atu" src="~/Imagens/Home/imgAtu.png"><br />
                                                                                <img class="rec" id="rec" src="~/Imagens/Home/imgRec.png"><br />
                                                                                    <img class="comp" id="comp" src="~/Imagens/Home/imgComp.png"><br />
                                                                                        <img class="plan" id="plan" src="~/Imagens/Home/imgPlan.png"><br />
                                                                                            <img class="list" id="list" src="~/Imagens/Home/imgList.png">
                </div>
            </center>
                                                                                        <div class="content" id="globalizacao">
                                                                                            <div>
                                                                                                <img class="globo" id="globo" src="~/Imagens/Home/img3.png">
                </div>
                                                                                                <div id="h5"> Divulgação abrangente e atualizada de notícias </div>
                                                                                                <div id="h6">
                                                                                                    Se atualize todos os dias com notícias de seu gosto
                    para te informarem, inspirarem e auxiliarem suas escolhas
                    na caminhada de sua rotina e assim se inove e renove diariamente
                </div>
                                                                                            </div>
                                                                                            <div class="content" id="sonhos">
                                                                                                <div>
                                                                                                    <img class="nuvem" id="nuvem" src="~/Imagens/Home/img4.png">
                </div>
                                                                                                    <div id="h7"> Revolucione seu caminho e realize seus sonhos </div>
                                                                                                    <div id="h8">
                                                                                                        Trace metas, evolua e se reivente no âmbito pessoal e profissional
                    com os nossos sofisticados recursos.
                    Estaremos sempre ao seu lado para te auxiliar a alcance
                    todos os seus propósitos
                </div>
                                                                                                </div>

                                                                                                <footer id="myFooter">
                                                                                                    <div class="container">
                                                                                                        <div class="row">
                                                                                                            <div class="col-sm-3">
                                                                                                                <h2 class="logo"><a href="#">
                                                                                                                    <img src="~/Imagens/LOGO/logoofc.png" class="logo2" id="logo2">
                                 </a></h2>
                        </div>
                                                                                                                <div class="col-sm-2">
                                                                                                                    <h5>Comece já</h5>
                                                                                                                    <ul>
                                                                                                                        <li><a href="#">Cadastre-se</a></li>
                                                                                                                        <li><a href="#">Login</a></li>
                                                                                                                    </ul>
                                                                                                                </div>
                                                                                                                <div class="col-sm-2">
                                                                                                                    <h5>Empresa</h5>
                                                                                                                    <ul>
                                                                                                                        <li><a href="#">Sobre</a></li>
                                                                                                                        <li><a href="#">Contato</a></li>
                                                                                                                        <li><a href="#">Pareto</a></li>
                                                                                                                    </ul>
                                                                                                                </div>
                                                                                                                <div class="col-sm-2">
                                                                                                                    <h5>Políticas</h5>
                                                                                                                    <ul>
                                                                                                                        <li><a href="~/Termos/Index">Termos e Condições</a></li>
                                                                                                                        <li><a href="~/Termos/Index">Política de Privacidade</a></li>
                                                                                                                    </ul>
                                                                                                                </div>
                                                                                                                <div class="col-sm-3">
                                                                                                                    <div class="social-networks">
                                                                                                                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                                                                                                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                                                                                                        <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                                                                                                                    </div>
                                                                                                                    <div class="btn btn-default">Siga-nos</div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <div class="footer-copyright">
                                                                                                            <p>© 2019 - Inova - Todos os direitos reservados </p>
                                                                                                        </div>
            </footer>

</body>

</html>
