<html>
<head>
    <title>I9</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="~/Content/HomeCSS.css" rel="stylesheet" type="text/css">
    <!-- <link rel="stylesheet" href="<!-https://use.fontawesome.com/releases/v5.6.1/css/all.css">-->

    <script>
        window.onload = function () {
            Organiza();
        }

        function Organiza() {
            var h1 = document.getElementById("h1");
            //h1.style.top = "350em";
            if (window.innerWidth >= 800) {
                var fundo = document.getElementById("ondas");
                fundo.src = "/Imagens/ondas2.png";
                fundo.style.left = "0%";
              // fundo.style.top = "-50px";

                var formiga = document.getElementById("formiga");
                formiga.style.display = "initial";
                formiga.style.width = "15%";
                formiga.style.top = "1.5em";
                formiga.style.left = "15%";
                var form = document.getElementById("form");
                form.style.top = "-22em";
                form.style.height = "15em";
                var h1 = document.getElementById("h1");
                h1.style.paddingLeft = "35%";
                h1.style.top = "-7.5em";
                h1.style.fontSize = "25px";
                var h2 = document.getElementById("h2");
                h2.style.paddingLeft = "35%";
                h2.style.top = "-7em";
                h2.style.fontSize = "22px";

                var carinha = document.getElementById("compromisso");
                carinha.style.top = "-30%";
                var h3 = document.getElementById("h3");
                h3.style.padding = "0px";
                h3.style.paddingLeft = "50%";
                h3.style.fontSize = "25px";
                var h4 = document.getElementById("h4");
                h4.style.paddingLeft = "50%";
                h4.style.fontSize = "22px";
                h4.style.top = "-11em";

                var mundo = document.getElementById("globalizacao");
                var h5 = document.getElementById("h5");
                h5.style.paddingLeft = "50%";
                h5.style.fontSize = "25px";
                var h6 = document.getElementById("h6");
                h6.style.paddingLeft = "50%";
                h6.style.fontSize = "22px";
                h6.style.top = "-8em";
                var info = document.getElementById("info");
                info.style.height = "46%";

                if (window.innerWidth >= 1000) {
                    formiga.style.width = "12%";
                    form.style.top = "-20em";
                    h1.style.top = "-7em";
                    h1.style.fontSize = "27.43px";
                    h1.style.paddingLeft = "20%";
                    h2.style.top = "-6.8em";
                    h2.style.fontSize = "25px";
                    h2.style.paddingLeft = "20%";
                    h3.style.fontSize = "27.43px";
                    h3.style.paddingTop = "5%";
                    h3.style.paddingLeft = "32%";
                    h4.style.fontSize = "25px";
                    h4.style.paddingLeft = "32%";
                    h4.style.paddingTop = "1%";
                    h5.style.fontSize = "27.43px";
                    h6.style.fontSize = "25px";
                    info.style.height = "57%";

                    if (window.innerWidth >= 1300) {
                        h1.style.top = "-7em";
                        h1.style.paddingLeft = "20%";
                        formiga.style.width = "10%";
                        h2.style.top = "-6.8em";
                        h2.style.paddingLeft = "20%";
                        h3.style.paddingTop = "5%";
                        h3.style.paddingLeft = "32%";
                        h4.style.fontSize = "25px";
                        h4.style.paddingLeft = "32%";
                        h4.style.paddingTop = "1%";
                        h6.style.fontSize = "25px";
                        info.style.height = "57%";

                    }
                }
            }
            else {
                var fundo = document.getElementById("ondas");
                fundo.src = '/Imagens/ondas.png';
                var botao = document.getElementById("comece");
                botao.style.width = "35%";
                botao.style.top = "6em";
                var h2 = document.getElementById("h2");
                h2.style.fontSize = "20px";
                h2.style.paddingLeft = "40%";
                var h4 = document.getElementById("h4");
                h2.style.top = "-8em";
                var h1 = document.getElementById("h1");


                if (window.innerWidth >= 600) {

                    var fundo = document.getElementById("ondas");
                    fundo.style.left = "-10%";
                    var formiga = document.getElementById("formiga");
                    formiga.style.display = "initial";
                    formiga.style.width = "20%";
                    formiga.style.left = "10%";
                    var cara = document.getElementById("maos");
                    cara.style.display = "initial";
                    var coisa = document.getElementById("coisa2");
                    coisa.src = '/Imagens/coisinhas2.png';
                    coisa.style.top = "9.7em";
                    coisa.style.width = "90%";
                    coisa.style.left = "3%";
                    var frase = document.getElementById("frase");
                    frase.style.top = "4em";
                    frase.style.left = "10%";
                    var botao = document.getElementById("comece");
                    botao.style.left = "65%";
                    var form = document.getElementById("form");
                    form.style.top = "-9.8em";
                    form.style.height = "15em";
                    var carinha = document.getElementById("compromisso");
                    carinha.style.top = "0%";
                    var h1 = document.getElementById("h1");
                    h1.style.padding = "0px";
                    h1.style.paddingLeft = "40%";
                    h1.style.width = "60%";
                    h2.style.top = "-10em";
                    var h3 = document.getElementById("h3");
                    h3.style.padding = "0px";
                    h3.style.paddingLeft = "50%";
                    var h4 = document.getElementById("h4");
                    h4.style.paddingLeft = "50%";
                    var info = document.getElementById("info");
                    info.style.height = "30%";
                    // var cabecalho = document.getElementById("header");
                    //cabecalho.style.width = "80%";
                }
                else {
                    var fundo = document.getElementById("ondas");
                    fundo.style.left = "-30%";
                    var formiga = document.getElementById("formiga");
                    formiga.style.display = "none";
                    var carinha = document.getElementById("maos");
                    carinha.style.display = "none";
                    var coisa = document.getElementById("coisa2");
                    coisa.src = '/Imagens/coisinhas.png';
                    coisa.style.top = "5.4em";
                    coisa.style.width = "77%";
                    coisa.style.left = "12%";
                    var frase = document.getElementById("frase");
                    frase.style.top = "1.5em";
                    frase.style.left = "20%";
                    var botao = document.getElementById("comece");
                    botao.style.left = "30%";
                    botao.style.top = "5.3em";
                    var form = document.getElementById("form");
                    form.style.top = "-12.8em";
                    form.style.height = "11em";
                    var cara = document.getElementById("compromisso");
                    cara.style.top = "0%";
                    var h1 = document.getElementById("h1");
                    h1.style.paddingLeft = "10%";
                    h1.style.paddingTop = "1.5em";
                    h1.style.paddingBottom = "0.5em";
                    var h2 = document.getElementById("h2");
                    h2.style.paddingLeft = "10%";
                    h2.style.paddingBottom = "1em";
                    h2.style.fontSize = "16px";
                    var h3 = document.getElementById("h3");
                    h3.style.padding = "40px";
                    var h4 = document.getElementById("h4");
                    h4.style.paddingLeft = "50px";
                }
            }
        }


        window.onresize = function () {
            Organiza();
        }
    </script>
</head>

<body>
    <div class="header" id="header">
        <img class="ondas" id="ondas" src="~/Imagens/ondas.png">
        <img src="~/Imagens/LOGO/logoofc.png" class="logo">
        <!-- <img class="barra" src="./Imagens/nav.png"> -->
        <input type="checkbox" id="chk">
        <label for="chk" class="show-menu-btn">
            <i class="fa fa-bars fa-w-14 fa-2x"></i>
        </label>
        <ul class="menu">
            <a class="ab" href="#">LOGIN</a>
            <a class="ab" href="#">CADASTRE-SE</a>
            <a class="ab" href="#">SOBRE</a>
            <a class="ab" href="#">CONTATO</a>
            <label for="chk" class="hide-menu-btn">
                <a class="menu-barra">
                    <i class="fa fa-times fa-w-14 fa-2x"></i>
                </a>
            </label>
        </ul>
    </div>

    <!--<ul id="slide-out" class="sidenav" >
        <div class="wrap-menu">
          <div class="container" onclick="myFunction(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </div>
          <div  class="balon"></div>
          <div class="hrUm"></div>
              <li><a  id = "cadmin" href="Cadastro.html" >CADASTRE-SE</a></li><div class="hrDois"></div>
              <li><a  id = "loginmin" href="Login.html" >LOGIN</a>  </li><div class="hrDois"></div>
              <li><a  id = "sobremin" href="Sobre.html" >SOBRE</a></li><div class="hrDois"></div>
              <li><a  id = "contmin" href="Contato.html" >CONTATO</a></li>


            </div>
          </ul>-->
    <!--
          <ul id="slide-out" class="sidenav">
              <li><div class="user-view">
                <div class="background">
                  <img src="images/office.jpg">
                </div>
                <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
                <a href="#name"><span class="white-text name">John Doe</span></a>
                <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
              </div></li>
              <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
              <li><a href="#!">Second Link</a></li>
              <li><div class="divider"></div></li>
              <li><a class="subheader">Subheader</a></li>
              <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
            </ul>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">,</i></a>


      -->
    <section class="home-hero">
        <div>
            <img class="frase" src="~/Imagens/frase1.png" id="frase">
        </div>
        <img class="btnComece" src="~/Imagens/ComeceJa.png" id="comece">
        <div>
            <img class='coisinhas' id="coisa2">
        </div>
    </section>
    <div class="content" id="form">
        <div>
            <img class="formiga" id="formiga" src="~/Imagens/formigaFofa.png">
        </div>
        <div id="h1"> A melhor forma de organizar seu dia a dia</div>
        <div id="h2">
            Aprenda a organizar seus eventos e planejar seu dia a dia
            de forma rápida, simples e eficiente. Dispomos de uma agenda em
            nossa plataforma a fim de os ajudar no planejamento semanal e mensal.
        </div>
    </div>
    <div class="content" id="compromisso">
        <div>
            <img class="maos" id="maos" src="~/Imagens/Home/img1.png">
        </div>
        <div id="h3"> Planeje suas tarefas e eventos </div>
        <div id="h4">
            Você não precisa mais perder a cabeça
            tentando controlar seus compromissos e tarefas,
            te ajudaremos a montar estratégias a fim de atingir
            seus objetivos
        </div>
    </div>
    <center>
        <div>
            <img class="info" id="info" src="~/Imagens/Home/img2.png">
            <img class="comp" id="comp" src="~/Imagens/Home/imgComp.png">
            <img class="atu" id="atu" src="~/Imagens/Home/imgAtu.png">
            <img class="rec" id="rec" src="~/Imagens/Home/imgRec.png">
            <img class="list" id="list" src="~/Imagens/Home/imgList.png">
        </div>
    </center>
    <div class="content" id="globalizacao">
        <div>
            <img class="globo" id="globo" src="~/Imagens/Home/img3.png">
        </div>
        <div id="h5"> Divulgação abrangente e atualizada de notícias </div>
        <div id="h6">
            Você não precisa mais perder a cabeça
            tentando controlar seus compromissos e tarefas,
            te ajudaremos a montar estratégias a fim de atingir
            seus objetivos
        </div>
    </div>

</body>

</html>