
@{
    Layout = null;
}

<html>
<head>
    <title>Principal</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="~/Content/PrincipalCSS.css" rel="stylesheet" type="text/css">

    <script type="text/javascript">

        

        window.onload = function () {
                var cont = 0;
                var noti = "";
                var re = "";
                while(cont < 20)
                {
                    noti= noti +  " <section class='cNoticia'><div class='cTitulo'>Titulo</div><br><div class='cImagem'>Imagem</div><br><div class='cLink'>Link</div></section>";
                    document.getElementById("sectionPrincipal").innerHTML = noti;

                    re = re +  "<div class='eventoSemana'><label class='data'> 20/12/2002, S&aacute;bado</label></div>";
                    document.getElementById("sectionLeft").innerHTML = re;

                    cont++;
                }

                document.getElementById("opcoesFotos").innerHTML = "<input id=\"btnPerfil\" type=\"image\" src=\"/Imagens/imgPerfil.jpg\" onclick=\"CarregarPerfil()\">";


                CarregarDadosBD();
        }

        var qualId = null;
        var qualImg = null;

            function CarregarDadosBD()
            {
                var string = window.location.href.substring(39);
                string = string.split("?");
                qualId = string[0];
                string = string[1];
                string = string.split("&");
                var nome = string[0].substring(5);
                qualImg = string[1].substring(7);

                while (nome.indexOf("%20") != -1)
                    nome = nome.replace("%20", " ");
                while(qualImg.indexOf("%2F") != -1)
                    qualImg = qualImg.replace("%2F", "/");
                

                //alert(nome);
                //alert(qualImg);
                //alert(qualId);

                document.getElementById("opcoesFotos").innerHTML = "<input id=\"btnPerfil\" type=\"image\" src='" + qualImg + "' onclick=\"CarregarPerfil()\">";
            }
            
            function Sair(end)
            {
                alert("nao me deixe");
                SairPagina(qualImg, qualId, end);
            }

            var seMostraPerfil = 2;
            function CarregarPerfil()
            {
                if(seMostraPerfil % 2 == 0)
                {
                    document.getElementById("opcoesFotos").innerHTML = "<input id=\"btnPerfil\" type=\"image\" src='/Imagens/imgPerfil.jpg' onclick=\"CarregarPerfil()\"><div id='divMenuV'><nav id ='menuV'><ul>" +
                                                                    "<br><br><a id ='homeV' href='~/Home/Index'  onclick='Sair(this.href)'>HOME</a><br><br>" +
                                                                    "<a id ='sobreV' href='~/Sobre/Index'  onclick='Sair(this.href)'>SOBRE</a><br><br>" +
                                                                    "<a id ='loginNavV' href='~/Login/Index'  onclick='Sair(this.href)'>LOGIN</a><br><br>" +
                                                                    "<a id ='cadastroV' href='~/Cadastro/Index'  onclick='Sair(this.href)'>CADASTRE-SE</a><br><br>" +
                                                                    "<a id ='contatoV' href='~/Contato/Index'  onclick='Sair(this.href)'>CONTATO</a><br><br>" +
                                                                    "<a id ='configV' href='~/Perfil/Index'  onclick='Sair(this.href)'>PERFIL</a><br><br><br></ul><nav></div>";
                    seMostraPerfil++;
                }
                else
                {
                    document.getElementById("opcoesFotos").innerHTML = "<input id=\"btnPerfil\" type=\"image\" src='/Imagens/imgPerfil.jpg' onclick=\"CarregarPerfil()\">";
                    seMostraPerfil++;
                }
            }

            function Parabens()
            {
               if(document.getElementById("parabens").style.display == "block")
               {
                document.getElementById("parabens").style.display = "none";
               }
               else
               {
                document.getElementById("parabens").style.display = "block";
               }
            }

            function MostrarAgenda()
            {
                   if(document.getElementById("secAgenda").style.display == "block")
                   {
                       var a = "";

                       document.getElementById("secAgenda").innerHTML = a;

                      document.getElementById("secAgenda").style.display = "none";
                   }
                   else
                   {
                    document.getElementById("secAgenda").style.display = "block";
                   }
            }

    </script>
</head>
<body >
    <header>
        <a href="#" class="brand-logo">
            <img class="ondas" src="~/Imagens/ondas.png">
            <div> <img class="logo" src="~/Imagens/LOGO/logoofc.png"></div>
        </a>

        <nav id="navHeader">
            <ul>
                <a id="home" href="~/Home/Index" onclick="Sair(this.href)">HOME</a>
                <a id="sobre" href="~/Sobre/Index" onclick="Sair(this.href)">SOBRE</a>
                <a id="login" href="~/Login/Index" onclick="Sair(this.href)">LOGIN</a>
                <a id="cadastro" href="~/Cadastro/Index" onclick="Sair(this.href)">CADASTRE-SE</a>
                <a id="contato" href="~/Contato/Index" onclick="Sair(this.href)">CONTATO</a>
                <a id="perfil" href="~/Perfil/Index" onclick="Sair(this.href)">PERFIL</a>
            </ul>
        </nav>

        <div id="opcoesFotos">

        </div>

    </header>

    <button id="btnAgenda" onclick="MostrarAgenda()">VER AGENDA</button>

    <section id="secAgenda">
        AEEEE

        <div id="calendario">
            <table>
                <tr>
                    <td class="diaSemana">D</td>
                    <td class="diaSemana">S</td>
                    <td class="diaSemana">T</td>
                    <td class="diaSemana">Q</td>
                    <td class="diaSemana">Q</td>
                    <td class="diaSemana">S</td>
                    <td class="diaSemana">S</td>
                </tr>

                <tr>
                    <td class="dias">a<span>1</span></td>
                    <td class="dias">2</td>
                    <td class="dias">3</td>
                    <td class="dias">4</td>
                    <td class="dias">5</td>
                    <td class="dias">6</td>
                    <td class="dias">7</td>
                </tr>

            </table>
        </div>

    </section>

    <section id="sectionLeft">
        <label class="lbl">Semana</label>

        <!-- <div class="realizacoes">
        <label>Realizações</label>
    </div>-->

    </section>

    <section id="sectionRight">
        <label class="lbl">Sonhos</label>

        <div id="chkSonhos">
            <input type="checkbox">Adotar um cachorro<br>
        </div>

    </section>

    <section id="sectionPrincipal"></section>

    <section id="parabens">
        <div id="lblParabens">Parabéns !! </div><br><br>
        <div id="lblVoceRealizouUmSonho">Você realizou um sonho !!</div>
        <button id="btnParabens" onclick="Parabens()">OK</button>
    </section>


    <footer>
        <h1 class="fot1">inovaAgora@gmail.com </h1>
        <h1 class="fot1">i9@hotmail.com </h1>
        <h1 class="fot2">(19)3336-5487 </h1>
        <h1 class="fot2">(19)5135-9804 </h1>
    </footer>

</body>
</html>
